

/* Define variable/arrays for block Detect Decrease ($blockId) $blockName */
#if($signal.dataType == $realDataType)
double preValue_${blockId} = 0;
#else
double preValue_${blockId}[$signalHeight][$signalWidth];
#end