/*Code for output of block DetectDecrease:($blockId)$blockName*/
#if($inputHeight == 1 && $inputWidth == 1)
    ## Scalar detect decrease
    if(${inputVar} < preValue_${blockId}) {
        ${outputVar} = 1.0;
    } else {
        ${outputVar} = 0.0;
    }
    preValue_${blockId} = ${inputVar};
#else
    ## Matrix detect decrease - element-wise
    #set($hMax = $inputHeight - 1)
    #set($wMax = $inputWidth - 1)
    #foreach($i in [0..$hMax])
        #foreach($j in [0..$wMax])
    if(${inputVar}($i, $j) < preValue_${blockId}($i, $j)) {
        ${outputVar}($i, $j) = 1.0;
    } else {
        ${outputVar}($i, $j) = 0.0;
    }
    preValue_${blockId}($i, $j) = ${inputVar}($i, $j);
        #end
    #end
#end