#set($blockId = $block.getBlockId())
#set($blockName = $block.getBlockName())
#set($out = $outputs.get(0))
#set($signal = $inputs.get(0).getLinkedLine().getLinkedOutputPort().getOutputSignalC())

/* Code for output of block Detect Decrease ($blockId) $blockName */
#if($signal.dataType == $realDataType)
if(${signal.getName()} < preValue_${blockId}) {
    ${out.getName()} = 1.0;
} else {
    ${out.getName()} = 0.0;
}
preValue_${blockId} = ${signal.getName()};
#else
#set($signalHeightIndex = $signal.getHeight() - 1)
#foreach($i in [0..$signalHeightIndex])
#set($signalWidthIndex = $signal.getWidth() - 1)
    #foreach($j in [0..$signalWidthIndex])
        if(${signal.getName()}($i,$j) < preValue_${blockId}[$i][$j]) {
            ${out.getName()}($i,$j) = 1.0;
        } else {
            ${out.getName()}($i,$j) = 0.0;
        }
        preValue_${blockId}[$i][$j] = ${signal.getName()}($i,$j);
    #end
#end
#end