#set($blockId = $blockBlockId)
#set($blockName = $blockBlockName)
#set($out = $output1)
#set($signal = $inputs.get(0).getLinkedLine().getLinkedOutputPort().getOutputSignalC())

/* Code for output of block Detect Decrease ($blockId) $blockName */
#if($signal.dataType == $realDataType)
if($signalName < preValue_${blockId}) {
    $outName = 1.0;
} else {
    $outName = 0.0;
}
preValue_${blockId} = $signalName;
#else
#set($signalHeightIndex = $signalHeight - 1)
#foreach($i in [0..$signalHeightIndex])
#set($signalWidthIndex = $signalWidth - 1)
    #foreach($j in [0..$signalWidthIndex])
        if($signalName($i,$j) < preValue_${blockId}[$i][$j]) {
            $outName($i,$j) = 1.0;
        } else {
            $outName($i,$j) = 0.0;
        }
        preValue_${blockId}[$i][$j] = $signalName($i,$j);
    #end
#end
#end