/* Bus Creator Output: $blockName */

#if($isVirtual)
/* Pack inputs into virtual bus elements */
#foreach($elementName in $elementNames)
    #set($idx = $foreach.index)
    #set($inputSignal = $inputSignalNames.get($idx))
${busOutputName}_${elementName} = ${inputSignal};
#end
#else
/* Pack inputs into non-virtual bus struct */
#foreach($elementName in $elementNames)
    #set($idx = $foreach.index)
    #set($inputSignal = $inputSignalNames.get($idx))
${outputSignalName}.${elementName} = ${inputSignal};
#end
#end

