/* DA Block Derivative: ($block.getBlockId()) $block.getBlockName() */
#set($statesSize = $states.size())
#if($statesSize > 1)
  #set($lastIndex = $statesSize - 2)
  #foreach($i in [0..$lastIndex])
    #set($nextIndex = $i + 1)
    ${states.get($i).derivativeName} = ${states.get($nextIndex).getName()};
  #end
#end

#if($statesSize > 0)
  #set($lastStateIndex = $statesSize - 1)
  ${states.get($lastStateIndex).derivativeName} = ($inputs.get(0)
  #set($i = $coeffs.size() - 1)
  #foreach($state in $states)
  - ${state.getName()}*${coeffs.get($i)}
    #set($i = $i - 1)
  #end
  );
#end