/*Code for output of block Add:($blockId)$blockName*/
#set($numInputs = $inputs.size())
#set($maxIndex = $numInputs - 1)

## Check if InputsValue is numeric (count) or operator string
#set($isNumericInput = false)
#if($InputsValue.length() < $numInputs)
    #set($isNumericInput = true)
#end

#if($inputHeight == 1 && $inputWidth == 1)
    ## Scalar inputs - sum with appropriate signs
    ${outputVar} = 0.0;
    #foreach($i in [0..$maxIndex])
        #if($isNumericInput)
            ## Numeric input: use default '+' for all
    ${outputVar} += ${inputs.get($i)};
        #else
            ## String input: use charAt to get operator
            #set($sign = $InputsValue.charAt($i))
            #if($sign == '+')
    ${outputVar} += ${inputs.get($i)};
            #elseif($sign == '-')
    ${outputVar} -= ${inputs.get($i)};
            #end
        #end
    #end
#else
    ## Matrix inputs - element-wise sum with signs (using Eigen indexing)
    #foreach($m in [0..$hMax])
        #foreach($n in [0..$wMax])
            ## Initialize element
            ${outputVar}($m, $n) = 0.0;

            ## Sum all inputs for this element
            #foreach($i in [0..$maxIndex])
                #if($isNumericInput)
                    ## Numeric input: use default '+' for all
            ${outputVar}($m, $n) += ${inputs.get($i)}($m, $n);
                #else
                    ## String input: use charAt to get operator
                    #set($sign = $InputsValue.charAt($i))
                    #if($sign == '+')
            ${outputVar}($m, $n) += ${inputs.get($i)}($m, $n);
                    #elseif($sign == '-')
            ${outputVar}($m, $n) -= ${inputs.get($i)}($m, $n);
                    #end
                #end
            #end
        #end
    #end
#end
