
#set($outputPortList = $outputPortList.get(0))


/* Code for Add block $blockId */
#if($inputPortList.size() > 0 && $inputPortList.get(0).getLinkedLine().getLinkedOutputPort().getOutputSignalC().dataType == "REAL")
  #set($outputSignalName = $outputPortList.getOutputSignalC().getName())
  $outputSignalName = 0;
  #set($sMax = $sequence.length() - 1)
  #foreach($i in [0..$sMax])
    #if($sequence.charAt($i) == '+')
      $outputSignalName += $inputPortList.get($i).getLinkedLine().getLinkedOutputPort().getOutputSignalC().getName();
    #elseif($sequence.charAt($i) == '-')
      $outputSignalName -= $inputPortList.get($i).getLinkedLine().getLinkedOutputPort().getOutputSignalC().getName();
    #end
  #end
#elseif($inputPortList.size() > 0 && $inputPortList.get(0).getLinkedLine().getLinkedOutputPort().getOutputSignalC().dataType == "MATRIX")
  #set($height = $inputPortList.get(0).getLinkedLine().getLinkedOutputPort().getOutputSignalC().getHeight())
  #set($width = $inputPortList.get(0).getLinkedLine().getLinkedOutputPort().getOutputSignalC().getWidth())
  #set($outputSignalName = $outputPortList.getOutputSignalC().getName())
  #set($wMax = $width - 1)
  #set($hMax = $height - 1)
  #foreach($m in [0..$hMax])
    #foreach($n in [0..$wMax])
      $outputSignalName($m, $n) = 0;
      #foreach($i in [0..$sMax])
        #if($sequence.charAt($i) == '+')
          $outputSignalName($m, $n) += $inputPortList.get($i).getLinkedLine().getLinkedOutputPort().getOutputSignalC().getName()($m, $n);
        #elseif($sequence.charAt($i) == '-')
          $outputSignalName($m, $n) -= $inputPortList.get($i).getLinkedLine().getLinkedOutputPort().getOutputSignalC().getName()($m, $n);
        #end
      #end
    #end
  #end
#end
