/*传递函数模块微分计算: ($block.blockId) $block.blockName*/
#set($statesSize = $states.size())
## 处理最后一个状态的导数表达式
#if($statesSize > 0)
    #set($lastStateIndex = $statesSize - 1)
    ${states.get($lastStateIndex).derivativeName} = ($inputs.get(0)
    #set($i = $den.size() - 1)
    #foreach($state in $states)
    - ${state.getName()} * ${den.get($i)}
        #set($i = $i - 1)
    #end
);
#end
