/* Code for initialization of block RaspFan:(${block.getBlockId()})${block.getBlockName()} */
#if($modelMode == "Compilation")
initRaspFan(&${hardwareDefineName});
char msg[255];
hComm = Serialport_Open((char *)"/dev/ttyUSB0", 9600,(char *)msg);
#end