#set($input1 = $inputPortList.get(0).getLinkedLine().getLinkedOutputPort().getOutputSignalC())
#set($input2 = $inputPortList.get(1).getLinkedLine().getLinkedOutputPort().getOutputSignalC())
#set($output = $outputPortList.get(0).getOutputSignalC())

/* Code for output of CrossProduct: ($blockBlockId)$blockBlockName */
$output.setName($input1Name.crossProduct($input2Name))