/* Code for initialization of block Delay:($blockId)$blockName */
$sampleTime.getInitCodeC()
$initialCondition.getInitCodeC()
$delayLength.getInitCodeC()
sample_time[sample_i]=$sampleTimeName;
sample_i=sample_i+1;
