/* Code for output of block Delay:(${blockId}) ${blockName} */
{
    int h = (int)(${delayLength});

    if (fabs((int)(model.time / ${SampleTimeName} + 0.5) - model.time / ${SampleTimeName}) < 0.000001 && mp->majorStep > 0) {
        for(int i = 0; i < h-1; i++) {
            Block${blockId}_discrete_delay_savedata[0][i] = Block${blockId}_discrete_delay_savedata[0][i+1];
        }
        Block${blockId}_discrete_delay_savedata[0][h-1] = ${inputSignal};
    }

    if ((model.time + 0.00001) < (${delayLength} * ${SampleTimeName})) {
        ${outputSignal} = ${InitialConditionName};
    } else {
        if (fabs((int)(model.time / ${SampleTimeName} + 0.5) - model.time / ${SampleTimeName}) < 0.000001) {
            ${outputSignal} = Block${blockId}_discrete_delay_savedata[0][0];
        }
    }
}