#set($input1 = $inputSignal)
#set($input2 = $inputSignal)
#set($input3 = $inputSignal)
#set($input4 = $inputSignal)
#set($output1 = $outputSignal)
#set($output2 = $outputSignal)
#set($output3 = $outputSignal)
#set($function = $blockName)

/* Code for dq02abc block $blockId */
if(model.majorStep == 1){
    #if($function == "Aligned with phase A axis")
        $output1 = (cos($input4) * $input1 - sin($input4) * $input2 + 1 * $input3);
        $output2 = (cos($input4 - 2*M_PI/3.0) * $input1 - sin($input4 - 2*M_PI/3.0) * $input2 + 1 * $input3);
        $output3 = (cos($input4 + 2*M_PI/3.0) * $input1 - sin($input4 + 2*M_PI/3.0) * $input2 + 1 * $input3);
    #elseif($function == "90 degrees behind phase A axis")
        $output1 = (sin($input4) * $input1 + cos($input4) * $input2 + 1 * $input3);
        $output2 = (sin($input4 - 2*M_PI/3.0) * $input1 + cos($input4 - 2*M_PI/3.0) * $input2 + 1 * $input3);
        $output3 = (sin($input4 + 2*M_PI/3.0) * $input1 + cos($input4 + 2*M_PI/3.0) * $input2 + 1 * $input3);
    #else
        $output1 = (cos($input4) * $input1 - sin($input4) * $input2 + 1 * $input3);
        $output2 = (cos($input4 - 2*M_PI/3.0) * $input1 - sin($input4 - 2*M_PI/3.0) * $input2 + 1 * $input3);
        $output3 = (cos($input4 + 2*M_PI/3.0) * $input1 - sin($input4 + 2*M_PI/3.0) * $input2 + 1 * $input3);
    #end
}