## TrigFunction block output calculation
#set($function = $block.getParamValues().getString("TrigonometricFunction"))
${block.outputPortList.get(0).getOutputSignalC().getName()} =
#if($function == "sin")
  sin(${signal.getName()});
#elseif($function == "cos")
  cos(${signal.getName()});
#elseif($function == "tan")
  tan(${signal.getName()});
#elseif($function == "asin")
  asin(${signal.getName()});
#elseif($function == "acos")
  acos(${signal.getName()});
#elseif($function == "atan")
  atan(${signal.getName()});
#elseif($function == "atan2")
  atan2(${signal.getName()}, ${block.inputPortList.get(1).getLinkedLine().getLinkedOutputPort().getOutputSignalC().getName()});
#end