
#set($outputPortList = $outputPortList.get(0))




/* Code for ProductOfElements block $blockId */
#set($sequenceLength = $sequence.length())
#set($seqMax = $sequence.length() - 1)
#if($inputPortList.size() > 0 && $inputPortList.get(0).getLinkedLine().getLinkedOutputPort().getOutputSignalC().dataType == $realDataType)
    #if($sequence.length() == 1)
        $outputSignal = $inputSignal;
    #else
        $outputSignal = 1;
        #foreach($i in [0..$seqMax])
            $outputSignal $sequence.charAt($i)= $inputSignal;
        #end
    #end
#elseif($inputPortList.size() > 0 && $inputPortList.get(0).getLinkedLine().getLinkedOutputPort().getOutputSignalC().dataType == $matrixDataType)
    #if($allDimensions)
        #set($hMax = $signalHeight - 1)
        #set($wMax = $signalWidth - 1)
        $outputSignal = 1;
        #foreach($m in [0..$hMax])
            #foreach($n in [0..$wMax])
                $outputSignal[$m][$n] = 1;
                #foreach($i in [0..$seqMax])
                    $outputSignal[$m][$n] $sequence.charAt($i)= $inputSignal[$m][$n];
                #end
            #end
        #end
    #else
        #if($dimension == 2)
            #set($mMax = $signalWidth - 1)
            #foreach($m in [0..$mMax])
                $outputSignal[0][$m] = 1;
                #set($nMax = $signalHeight - 1)
                #foreach($n in [0..$nMax])
                    $outputSignal[0][$m] += $sequence.charAt(0) + $inputSignal[$n][$m];
                #end
            #end
        #else
            #set($mMax = $signalHeight - 1)
            #foreach($m in [0..$mMax])
                $outputSignal[$m][0] = 1;
                #set($nMax = $signalHeight - 1)
                #foreach($n in [0..$nMax])
                    $outputSignal[$m][0] += $sequence.charAt(0) + $inputSignal[$m][$n];
                #end
            #end
        #end
    #end
#end
