
#set($outputPortList = $outputPortList.get(0))




/* Code for ProductOfElements block $blockId */
#set($sequenceLength = $sequence.length())
#set($seqMax = $sequence.length() - 1)
#if($inputPortList.size() > 0 && $inputPortList.get(0).getLinkedLine().getLinkedOutputPort().getOutputSignalC().dataType == $realDataType)
    #if($sequence.length() == 1)
        $outputPortList.getOutputSignalC().getName() = $inputPortList.get(0).getLinkedLine().getLinkedOutputPort().getOutputSignalC().getName();
    #else
        $outputPortList.getOutputSignalC().getName() = 1;
        #foreach($i in [0..$seqMax])
            $outputPortList.getOutputSignalC().getName() $sequence.charAt($i)= $inputPortList.get($i).getLinkedLine().getLinkedOutputPort().getOutputSignalC().getName();
        #end
    #end
#elseif($inputPortList.size() > 0 && $inputPortList.get(0).getLinkedLine().getLinkedOutputPort().getOutputSignalC().dataType == $matrixDataType)
    #if($allDimensions)
        #set($hMax = $inputPortList.get(0).getLinkedLine().getLinkedOutputPort().getOutputSignalC().getHeight() - 1)
        #set($wMax = $inputPortList.get(0).getLinkedLine().getLinkedOutputPort().getOutputSignalC().getWidth() - 1)
        $outputPortList.getOutputSignalC().getName() = 1;
        #foreach($m in [0..$hMax])
            #foreach($n in [0..$wMax])
                $outputPortList.getOutputSignalC().getName()($m, $n) = 1;
                #foreach($i in [0..$seqMax])
                    $outputPortList.getOutputSignalC().getName()($m, $n) $sequence.charAt($i)= $inputPortList.get($i).getLinkedLine().getLinkedOutputPort().getOutputSignalC().getName()($m, $n);
                #end
            #end
        #end
    #else
        #if($dimension == 2)
            #set($mMax = $inputPortList.get(0).getLinkedLine().getLinkedOutputPort().getOutputSignalC().getWidth() - 1)
            #foreach($m in [0..$mMax])
                $outputPortList.getOutputSignalC().getName()(0, $m) = 1;
                #set($nMax = $inputPortList.get(0).getLinkedLine().getLinkedOutputPort().getOutputSignalC().getHeight() - 1)
                #foreach($n in [0..$nMax])
                    $outputPortList.getOutputSignalC().getName()(0, $m) += $sequence.charAt(0) + $inputPortList.get(0).getLinkedLine().getLinkedOutputPort().getOutputSignalC().getName()($n, $m);
                #end
            #end
        #else
            #set($mMax = $inputPortList.get(0).getLinkedLine().getLinkedOutputPort().getOutputSignalC().getHeight() - 1)
            #foreach($m in [0..$mMax])
                $outputPortList.getOutputSignalC().getName()($m, 0) = 1;
                #set($nMax = $inputPortList.get(0).getLinkedLine().getLinkedOutputPort().getOutputSignalC().getHeight() - 1)
                #foreach($n in [0..$nMax])
                    $outputPortList.getOutputSignalC().getName()($m, 0) += $sequence.charAt(0) + $inputPortList.get(0).getLinkedLine().getLinkedOutputPort().getOutputSignalC().getName()($m, $n);
                #end
            #end
        #end
    #end
#end
