/*Code for Derivative of RotaryInvertedPendulum:($blockId)$blockName*/
#if ($modelMode == $simulationMode)
/* Simulation mode - RotaryInvertedPendulum (R1IP) simulation */
/* SerialPortState represents communication state - simple first-order lag */
double commTimeConstant = 0.1;
$stateX0DerivativeName = ($input1 - $stateX0) / commTimeConstant;
#else
/* Hardware mode - communication state tracks input */
$stateX0DerivativeName = $input1 - $stateX0;
#end