/*Code for Derivative of RotaryInvertedPendulum:($blockId)$blockName*/
#if ($modelMode == $simulationMode)
/* Simulation mode - RotaryInvertedPendulum (R1IP) simulation */
/* SerialPortState represents communication state - simple first-order lag */
double commTimeConstant = 0.1;
#if($stateX0DerivativeName && $input1 && $stateX0)
${stateX0DerivativeName} = (${input1} - ${stateX0}) / commTimeConstant;
#end
#else
/* Hardware mode - communication state tracks input */
#if($stateX0DerivativeName && $input1 && $stateX0)
${stateX0DerivativeName} = ${input1} - ${stateX0};
#end
#end