/*Code for output of block Pulse:($blockId)$blockName*/
#if($AmplitudeHeight == 1 && $AmplitudeWidth == 1)
    ## Scalar pulse generation
    if(model.time < ${PhaseDelay}) {
        ${outputVar} = 0.0;
    } else if(((int)((model.time-${PhaseDelay})*100) % (int)(${Period}*100)) < ${Period}*${PulseWidth}) {
        ${outputVar} = ${Amplitude};
    } else {
        ${outputVar} = 0.0;
    }
#else
    ## Matrix pulse generation
    #foreach($i in [0..$hMax])
        #foreach($j in [0..$wMax])
    if(model.time < ${PhaseDelay}[$i][$j]) {
        ${outputVar}[$i][$j] = 0.0;
    } else if(((int)((model.time-${PhaseDelay}[$i][$j])*100) % (int)(${Period}[$i][$j]*100)) < ${Period}[$i][$j]*${PulseWidth}[$i][$j]) {
        ${outputVar}[$i][$j] = ${Amplitude}[$i][$j];
    } else {
        ${outputVar}[$i][$j] = 0.0;
    }
        #end
    #end
#end
