sockfd_netrecv$blockId = socket(AF_INET, SOCK_DGRAM, 0);
if(sockfd_netrecv$blockId==-1){printf("can not create socket\n"); close(sockfd_netrecv$blockId);}
adr_serv_netrecv$blockId.sin_family = AF_INET;
adr_serv_netrecv$blockId.sin_port =htons(${localIPPort});
adr_serv_netrecv$blockId.sin_addr.s_addr=INADDR_ANY;
bind(sockfd_netrecv$blockId,(struct sockaddr*)&adr_serv_netrecv$blockId,sizeof(adr_serv_netrecv$blockId));