/*Code for output of block UDPReceive:($blockId)$blockName*/
double recvbuf = 0;
socklen_t len = sizeof(adr_serv_netrecv$blockId);
union data_union_double data_union_recv$blockId;
if(model.majorStep==1){
recvfrom(sockfd_netrecv$blockId, &data_union_recv$blockId, sizeof(double), 0,(struct sockaddr*)&adr_serv_netrecv$blockId,&len);
recvbuf = data_union_recv$blockId.v;
${blockOutputPortList.get(0).getOutputSignalC().getName()}=recvbuf;
}