/*Code for statement of ${block.getName()}:(${block.getBlockId()})${block.getBlockName()}*/
static struct sockaddr_in adr_serv_netrecv${block.getBlockId()};
static int_T sockfd_netrecv${block.getBlockId()};