/*Code for derivative of block Integrator:($blockId)$blockName*/
#if($conditionSource == "External")
    ## External initial condition source
    ${stateDerivative} = $inputSignal;
#else
    ## Internal initial condition
    #if($signalDataType == $realDataType)
        #if($initialConditionDataType == $realDataType)
            ## Scalar integrator
            ${stateDerivative} = $inputSignal;
        #else
            ## Scalar input, matrix initial condition
            #set($height = $initialConditionHeight)
            #set($width = $initialConditionWidth)
            #if($height && $width)
                #set($hMax = $height - 1)
                #set($wMax = $width - 1)
                #foreach($i in [0..$hMax])
                    #foreach($j in [0..$wMax])
            ${stateDerivative}($i,$j) = $inputSignal($i,$j);
                    #end
                #end
            #end
        #end
    #else
        ## Matrix integrator
        #set($height = $signalHeight)
        #set($width = $signalWidth)
        #if($height && $width)
            #set($hMax = $height - 1)
            #set($wMax = $width - 1)
            #foreach($i in [0..$hMax])
                #foreach($j in [0..$wMax])
        ${stateDerivative}($i,$j) = $inputSignal($i,$j);
                #end
            #end
        #end
    #end
#end
