/* Code for initialization of block Integrator: (${blockId}) ${blockName} */
## Initialize parameters first
#if($InitialConditionObject)
${InitialConditionObject.initCodeC}
#end
## Then initialize state using parameter
#if($ConditionSource == "External")
${InitialCondition} = ${inputSignal};
#else
  #if($outputSignalObject.dataType == $realDataType)
    #if($InitialConditionObject.dataType == $realDataType)
      ${state} = ${InitialCondition};
    #else
      for(int i=0; i<${InitialConditionObject.height}; i++){
        for(int j=0; j<${InitialConditionObject.width}; j++){
          ${state}[i][j] = ${InitialCondition}[i][j];
        }
      }
    #end
  #else
    #if($InitialConditionObject.dataType == $realDataType)
      for(int i=0; i<${outputSignalObject.height}; i++){
        for(int j=0; j<${outputSignalObject.width}; j++){
          ${state}[i][j] = ${InitialCondition};
        }
      }
    #else
      ${state} = ${InitialCondition};
    #end
  #end
#end
