/* Code for initialization of block Integrator:($blockId) $blockName */
#if($ConditionSource == "External")
$InitialCondition = $inputSignal;
#else
  #if($outputSignalObject.dataType == $realDataType)
    #if($InitialConditionObject.dataType == $realDataType)
      $state = $InitialCondition;
    #else
      for(int i=0; i<$InitialConditionObject.height; i++){
        for(int j=0; j<$InitialConditionObject.width; j++){
#set($tempVar = "${InitialCondition}[i][j]")
          ${state}[i][j] = ${tempVar};
        }
      }
    #end
  #else
    #if($InitialConditionObject.dataType == $realDataType)
      for(int i=0; i<$outputSignalObject.height; i++){
        for(int j=0; j<$outputSignalObject.width; j++){
#set($tempStateVar = "${state}[i][j]")
          ${tempStateVar} = $InitialCondition;
        }
      }
    #else
      $state = $InitialCondition;
    #end
  #end
#end
