/* 初始化Integrator模块: ($blockId) $blockName */
#if($conditionSource == "External")
$initialConditionName = $input;
#else
$initialConditionInitCodeC
  #if($signalDataType == $realDataType)
    #if($initialConditionDataType == $realDataType)
      $state=$initialConditionName;
    #else
      for(int i=0; i<$initialConditionHeight; i++){
        for(int j=0; j<$initialConditionWidth; j++){
          $state(i,j)=$initialConditionName(i,j);
        }
      }
    #end
  #else
    #if($initialConditionDataType == $realDataType)
      for(int i=0; i<$signalHeight; i++){
        for(int j=0; j<$signalWidth; j++){
          $state(i,j)=$initialConditionName;
        }
      }
    #else
      $state=$initialConditionName;
    #end
  #end
#end
