## Variables now populated directly in Java context: $channel

DEV_ModuleInit();
if(ADS1256_init() == 1){
        printf("\r\n ADS1256_init   END \r\n");
        DEV_ModuleExit();
        exit(0);
}