#set($outputSignal = $block.getOutputPort(0).getOutputSignalC().getName())
#set($channel = $block.getParameter("Channel").getDoubleValue())

$outputSignal = ADS1256_GetChannalValue($channel) * 5.0 / 0x7fffff;