#set($input = $inputPortList.get(0).getLinkedLine().getLinkedOutputPort().getOutputSignalC())
#set($output = $outputPortList.get(0).getOutputSignalC())

/* Code for output of IsSymmetric: ($blockBlockId)$blockBlockName */
$output.setName($inputName == $inputName.transpose() ? 1 : 0)