
#if($SlopeHeight == 1 && $SlopeWidth == 1)
    ## Scalar ramp function
    if(model.time < ${Start}) {
        ${outputVar} = ${InitialOutput};
    } else {
        ${outputVar} = ${InitialOutput} + ${Slope}*(model.time - ${Start});
    }
#else
    ## Matrix ramp function
    #foreach($i in [0..$hMax])
        #foreach($j in [0..$wMax])
    if(model.time < ${Start}($i, $j)) {
        ${outputVar}($i, $j) = ${InitialOutput}($i, $j);
    } else {
        ${outputVar}($i, $j) = ${InitialOutput}($i, $j) + ${Slope}($i, $j)*(model.time - ${Start}($i, $j));
    }
        #end
    #end
#end
