/*Code for output of block Ramp:($blockId)$blockName*/
#if($signal && $outputs && $outputs.size() > 0)
    #set($outputVar = $output1)
    
    #if($signal.dataType == $realDataType)
        ## Scalar ramp function
        if(model.time < ${start}) {
            $outputVar = ${initial_output};
        } else {
            $outputVar = ${initial_output} + $slopeValue*(model.time - ${start});
        }
    #else
        ## Matrix ramp function
        #if($slopeHeightIndex && $slopeWidthIndex)
            #foreach($i in [0..$slopeHeightIndex])
                #foreach($j in [0..$slopeWidthIndex])
            if(model.time < ${start}[$i][$j]) {
                $outputVar[$i][$j] = ${initial_output}[$i][$j];
            } else {
                $outputVar[$i][$j] = ${initial_output}[$i][$j] + ${slopeName}[$i][$j]*(model.time - ${start}[$i][$j]);
            }
                #end
            #end
        #end
    #end
#else
    ## Fallback with default ramp behavior
    #if($outputs && $outputs.size() > 0)
        ${output1} = model.time; /* Default ramp: y = t */
    #end
#end
