/*Code for initialization of block Backlash:($blockId)$blockName*/
#if($inputHeight == 1 && $inputWidth == 1)
    ## Scalar initialization
    #set($stateVar0 = $stateVariables[0])
    #set($paramVal0 = $paramValues[0])
    ${stateVar0} = ${paramVal0};
#else
    ## Matrix initialization: element-wise operation
    #set($hMax = $inputHeight - 1)
    #set($wMax = $inputWidth - 1)
    #foreach($i in [0..$hMax])
        #foreach($j in [0..$wMax])
        #set($stateVar0 = $stateVariables[0])
        #set($paramVal0 = $paramValues[0])
        ${stateVar0}(${i}, ${j}) = ${paramVal0};
        #end
    #end
#end
