/*Code for initialization of block Backlash:($blockId)$blockName*/
#set($signal = $inputPortList[0].linkedLine.linkedOutputPort.outputSignalC)
$backlashWidthInitCodeC
$initialOutputInitCodeC
#if($initialOutput.dataType == $realDataType && $signal.dataType == $realDataType)
    $xStateName = $initialOutputName;
#elseif($initialOutput.dataType == $realDataType && $signal.dataType == $matrixDataType)
    #set($height = $xStateHeight)
    #set($width = $xStateWidth)
    #set($hMax = $height - 1)
    #set($wMax = $width - 1)

    #foreach($i in [0..$hMax])
        #foreach($j in [0..$wMax])
            $xStateName($i, $j) = $initialOutputName;
        #end
    #end
#else
    #set($height = $xStateHeight)
    #set($width = $xStateWidth)
    #set($hMax = $height - 1)
    #set($wMax = $width - 1)

    #foreach($i in [0..$hMax])
        #foreach($j in [0..$wMax])
            $xStateName($i, $j) = $initialOutputName($i, $j);
        #end
    #end
#end
