/*Code for output of block Backlash:($blockId)$blockName*/

#set($out = $outputPortList[0])

#set($outputSignal = $outputPortList[0].outputSignalC)

#if($backlashWidth.dataType == $realDataType)
    #if($ops.outputSignalC.dataType == $realDataType)
        if($signalName < $xStateName - 0.5 * $backlashWidthName) {
            $outputSignalName = $signalName + 0.5 * $backlashWidthName;
        } else if($signalName <= $xStateName + 0.5 * $backlashWidthName) {
            $outputSignalName = $xStateName;
        } else {
            $outputSignalName = $signalName - 0.5 * $backlashWidthName;
        }
        $xStateName = $outputSignalName;
    #else
        #set($height = $opsHeight)
        #set($width = $opsWidth)
        #set($hMax = $height - 1)
        #set($wMax = $width - 1)

        #foreach($i in [0..$hMax])
            #foreach($j in [0..$wMax])
                if($signalName($i, $j) < $xStateName($i, $j) - 0.5 * $backlashWidthName) {
                    $outputSignalName($i, $j) = $signalName($i, $j) + 0.5 * $backlashWidthName;
                } else if($signalName($i, $j) <= $xStateName($i, $j) + 0.5 * $backlashWidthName) {
                    $outputSignalName($i, $j) = $xStateName($i, $j);
                } else {
                    $outputSignalName($i, $j) = $signalName($i, $j) - 0.5 * $backlashWidthName;
                }
                $xStateName($i, $j) = $outputSignalName($i, $j);
            #end
        #end
    #end
#else
    #if($ops.outputSignalC.dataType == $realDataType)
        #set($height = $backlashWidthHeight)
        #set($width = $backlashWidthWidth)
        #set($hMax = $height - 1)
        #set($wMax = $width - 1)

        #foreach($i in [0..$hMax])
            #foreach($j in [0..$wMax])
                if($signalName < $xStateName($i, $j) - 0.5 * $backlashWidthName($i, $j)) {
                    $outputSignalName($i, $j) = $signalName + 0.5 * $backlashWidthName($i, $j);
                } else if($signalName <= $xStateName($i, $j) + 0.5 * $backlashWidthName($i, $j)) {
                    $outputSignalName($i, $j) = $xStateName($i, $j);
                } else {
                    $outputSignalName($i, $j) = $signalName - 0.5 * $backlashWidthName($i, $j);
                }
                $xStateName($i, $j) = $outputSignalName($i, $j);
            #end
        #end
    #else
        #set($height = $opsHeight)
        #set($width = $opsWidth)
        #set($hMax = $height - 1)
        #set($wMax = $width - 1)

        #foreach($i in [0..$hMax])
            #foreach($j in [0..$wMax])
                if($signalName($i, $j) < $xStateName($i, $j) - 0.5 * $backlashWidthName($i, $j)) {
                    $outputSignalName($i, $j) = $signalName($i, $j) + 0.5 * $backlashWidthName($i, $j);
                } else if($signalName($i, $j) <= $xStateName($i, $j) + 0.5 * $backlashWidthName($i, $j)) {
                    $outputSignalName($i, $j) = $xStateName($i, $j);
                } else {
                    $outputSignalName($i, $j) = $signalName($i, $j) - 0.5 * $backlashWidthName($i, $j);
                }
                $xStateName($i, $j) = $outputSignalName($i, $j);
            #end
        #end
    #end
#end
