
#if($inputHeight == 1 && $inputWidth == 1)
    ## Scalar sign function
    if(${inputVar} > 0.0) {
        ${outputVar} = 1.0;
    } else if(${inputVar} == 0.0) {
        ${outputVar} = 0.0;
    } else {
        ${outputVar} = -1.0;
    }
#else
    ## Matrix sign function - element-wise (using Eigen indexing)
    #set($hMax = $inputHeight - 1)
    #set($wMax = $inputWidth - 1)
    #foreach($i in [0..$hMax])
        #foreach($j in [0..$wMax])
    if(${inputVar}($i, $j) > 0.0) {
        ${outputVar}($i, $j) = 1.0;
    } else if(${inputVar}($i, $j) == 0.0) {
        ${outputVar}($i, $j) = 0.0;
    } else {
        ${outputVar}($i, $j) = -1.0;
    }
        #end
    #end
#end
