/* Velocity Template for initialization of block EnergySwingUpInvertedPendulumSUST */
#set($blockId = $block.getBlockId())
#set($blockName = $block.getBlockName())

#if ($modelMode == "Compilation")
    #set($hardwareDefineName = "Block" + $blockId + "_EnergySwingUpInvertedPendulumSUST")
    initEnergySwingUpInvertedPendulumSUST(&$hardwareDefineName);

    char msg[255];
    HANDLE hComm = Serialport_Open("/dev/ttyUSB0", 115200, msg);
#end