#set($input1 = $block.getInputPortVariable(0))
#set($input2 = $block.getInputPortVariable(1))
#set($input3 = $block.getInputPortVariable(2))
#set($input4 = $block.getParameter("InnerFactor").getDoubleValue())
#set($input5 = $block.getParameter("InitSpeed").getDoubleValue())

#set($outputAccOutput = $blockOutputPortVariables.get(0).getName())
#set($outputSpeedOutput = $blockOutputPortVariables.get(1).getName())

#if ($modelMode == $compilationMode)
    // Compilation mode - Hardware operation for actual energy-based swing-up inverted pendulum
    #set($angle = $input2)
    #set($difAngle = $input3 * 3.1415926 / 180.0)

    #set($energy = 0.5 * 0.0004961 * $difAngle * $difAngle + $input4 * 0.482 * 9.81 * 0.11 * (cos($angle) - 1.0))

    #set($flagSign = $energy * $difAngle * cos($angle))

    #if ($flagSign < 0)
        #set($v = $input4 * fabs($energy))
        #set($vel = $input5)
    #elseif ($flagSign > 0)
        #set($v = -1 * $input4 * fabs($energy))
        #set($vel = -1 * $input5)
    #else
        #set($v = 0.001)
        #set($vel = 0 * $input5)
    #end

    #set($acc = fabs($v / 0.09424776))

    $outputAccOutput = $v * 100;
    $outputSpeedOutput = $vel;
#elseif ($modelMode == $simulationMode)
    // Simulation mode - Mathematical model for energy-based swing-up inverted pendulum
    // Implements energy-based control algorithm for pendulum swing-up
    double angle = $input2;
    double difAngle = $input3 * 3.1415926 / 180.0;
    
    // Calculate system energy (kinetic + potential)
    double energy = 0.5 * 0.0004961 * difAngle * difAngle + $input4 * 0.482 * 9.81 * 0.11 * (cos(angle) - 1.0);
    
    double flagSign = energy * difAngle * cos(angle);
    double v, vel;
    
    if (flagSign < 0) {
        v = $input4 * fabs(energy);
        vel = $input5;
    } else if (flagSign > 0) {
        v = -1 * $input4 * fabs(energy);
        vel = -1 * $input5;
    } else {
        v = 0.001;
        vel = 0 * $input5;
    }
    
    double acc = fabs(v / 0.09424776);
    
    $outputAccOutput = v * 100;  // Control voltage output (scaled)
    $outputSpeedOutput = vel;    // Speed reference
#end