/* Code for initialization of block Dead Zone:(${block.blockId}) ${block.blockName} */
#if($UpperValueObject)
${UpperValueObject.initCodeC}#end
#if($LowerValueObject)
${LowerValueObject.initCodeC}#end