/*Code for output of block DeadZone:($blockId)$blockName*/
#if($inputHeight == 1 && $inputWidth == 1)
    ## Scalar dead zone
    if(${inputVar} >= ${LowerValueValue} && ${inputVar} <= ${UpperValueValue}) {
        ${outputVar} = 0.0;
    } else if(${inputVar} < ${LowerValueValue}) {
        ${outputVar} = ${inputVar} - ${LowerValueValue};
    } else {
        ${outputVar} = ${inputVar} - ${UpperValueValue};
    }
#else
    ## Matrix dead zone - element-wise
    #set($hMax = $inputHeight - 1)
    #set($wMax = $inputWidth - 1)
    #foreach($i in [0..$hMax])
        #foreach($j in [0..$wMax])
    if(${inputVar}[$i][$j] >= ${LowerValueValue} && ${inputVar}[$i][$j] <= ${UpperValueValue}) {
        ${outputVar}[$i][$j] = 0.0;
    } else if(${inputVar}[$i][$j] < ${LowerValueValue}) {
        ${outputVar}[$i][$j] = ${inputVar}[$i][$j] - ${LowerValueValue};
    } else {
        ${outputVar}[$i][$j] = ${inputVar}[$i][$j] - ${UpperValueValue};
    }
        #end
    #end
#end
