/*Code for output of block Product:($blockId)$blockName*/
#if($inputPortList && $inputPortList.size() > 0 && $sequence)
    #set($firstInput = $inputPortList.get(0).getLinkedLine().getLinkedOutputPort().getOutputSignalC())
    #set($outputVar = $outputSignal)
    #set($numInputs = $inputPortList.size())
    #set($maxIndex = $numInputs - 1)
    
    ## Check if this is matrix multiplication or element-wise
    #if($matrixMultiplication)
        /* Matrix multiplication mode */
        /* TODO: Implement matrix multiplication */
        ${outputVar} = 1.0; /* Placeholder for matrix multiplication */
    #else
        ## Element-wise multiplication/division
        #if($firstInput.dataType == $realDataType)
            ## Scalar element-wise operations
            ${outputVar} = 1.0;
            
            ## Apply operations in sequence
            #foreach($i in [0..$maxIndex])
                #set($operation = $sequence.charAt($i))
                #set($inputVar = $inputPortList.get($i).getLinkedLine().getLinkedOutputPort().getOutputSignalC().getName())
                #if($operation == '*')
                    ${outputVar} *= ${inputVar};
                #elseif($operation == '/')
                    ${outputVar} /= ${inputVar};
                #end
            #end
            
        #elseif($firstInput.dataType == $matrixDataType)
            ## Matrix element-wise operations
            #set($height = $signalHeight)
            #set($width = $signalWidth)
            #set($hMax = $height - 1)
            #set($wMax = $width - 1)
            
            ## Initialize each element to 1 and apply operations
            #foreach($m in [0..$hMax])
                #foreach($n in [0..$wMax])
                    ${outputVar}($m, $n) = 1.0;
                    
                    ## Apply operations for this element
                    #foreach($i in [0..$maxIndex])
                        #set($operation = $sequence.charAt($i))
                        #set($inputVar = $inputPortList.get($i).getLinkedLine().getLinkedOutputPort().getOutputSignalC().getName())
                        #if($operation == '*')
                            ${outputVar}($m, $n) *= ${inputVar}($m, $n);
                        #elseif($operation == '/')
                            ${outputVar}($m, $n) /= ${inputVar}($m, $n);
                        #end
                    #end
                #end
            #end
        #end
    #end
#else
    ## Fallback for missing parameters
    #if($outputPortList && $outputPortList.size() > 0)
        $outputSignal = 1.0; /* Product block missing parameters */
    #end
#end
