/*Code for output of block Fcn:($blockId)$blockName*/
#if($inputPortList && $inputPortListSize > 0 && $outputPortList && $outputPortListSize > 0 && $expression)
    #set($inputSignal = $inputPortList.get(0).getLinkedLine().getLinkedOutputPort().getOutputSignalC())
    #set($outputSignal = $outputPortList.get(0).getOutputSignalC())
    #set($inputVar = $inputSignalName)
    #set($outputVar = $outputSignalName)
    
    #if($inputSignal.dataType == $realDataType)
        ## Scalar function evaluation
        {
            const double u = $inputVar;
            $outputVar = ${expression};
        }
    #else
        ## Matrix function evaluation
        {
            const Matrix& u = $inputVar;
            $outputVar = ${expression};
        }
    #end
#else
    ## Fallback if parameters missing
    #if($outputPortList && $outputPortListSize > 0)
        $outputPort0SignalName = 0.0; /* Fcn block missing parameters */
    #end
#end