/*Code for output of block Fcn:(${block.getBlockId()})${block.getBlockName()}*/
#if($inputPortList && $inputPortList.size() > 0 && $outputPortList && $outputPortList.size() > 0 && $expression)
    #set($inputSignal = $inputPortList.get(0).getLinkedLine().getLinkedOutputPort().getOutputSignalC())
    #set($outputSignal = $outputPortList.get(0).getOutputSignalC())
    #set($inputVar = $inputSignal.getName())
    #set($outputVar = $outputSignal.getName())
    
    #if($inputSignal.dataType == $realDataType)
        ## Scalar function evaluation
        {
            const double u = $inputVar;
            $outputVar = ${expression};
        }
    #else
        ## Matrix function evaluation
        {
            const Matrix& u = $inputVar;
            $outputVar = ${expression};
        }
    #end
#else
    ## Fallback if parameters missing
    #if($outputPortList && $outputPortList.size() > 0)
        ${outputPortList.get(0).getOutputSignalC().getName()} = 0.0; /* Fcn block missing parameters */
    #end
#end