/*Code for arrays of block Derivative: $blockId $blockName */

#set($height = $inputHeight)
#set($width = $inputWidth)

double Block${blockId}tout[${height}][${width}];
double Block${blockId}yout[${height}][${width}];