/*Code for arrays of block Derivative: $blockId $blockName */

#set($height = $signalHeight)
#set($width = $signalWidth)

double Block${blockId}tout[${height}][${width}];
double Block${blockId}yout[${height}][${width}];