
#if($inputHeight == 1 && $inputWidth == 1)
    ## Scalar derivative
    if(sfcnIsMajorStep()) {
        #set($stateVar0 = $stateVariables[0])
        $outputVar = ($inputVar - ${stateVar0})/model.stepSize;
        ${stateVar0} = $inputVar;
    }
#else
    ## Matrix/Array derivative: element-wise operation
    #set($hMax = $inputHeight - 1)
    #set($wMax = $inputWidth - 1)
    #foreach($i in [0..$hMax])
        #foreach($j in [0..$wMax])
        if(sfcnIsMajorStep()) {
            ## Use array access syntax for C++
            #set($stateVar0 = $stateVariables[0])
            ${outputVar}(${i}, ${j}) = (${inputVar}(${i}, ${j}) - ${stateVar0}(${i}, ${j}))/model.stepSize;
            ${stateVar0}(${i}, ${j}) = ${inputVar}(${i}, ${j});
        }
        #end
    #end
#end