/*Code for output of block Derivative:(${block.getBlockId()})${block.getBlockName()}*/
#if($signal && $state)
    #set($outputVar = $block.getOutputPortVariable(0))
    #set($blockId = $block.getBlockId())
    #set($stateIntegral = $state.getName())
    
    #if($solver == "ode1" || $solver == "ode2" || $solver == "ode3" || $solver == "ode4" || $solver == "ode5" || $solver == "ode6")
        ## Fixed-step solver - use backward difference
        #if($signal.dataType == $realDataType)
            ## Scalar derivative
            if(sfcnIsMajorStep()) {
                $outputVar = (${signal.getName()} - $stateIntegral)/model.stepSize;
                $stateIntegral = ${signal.getName()};
            }
        #else
            ## Matrix derivative
            #set($height = $signal.height)
            #set($width = $signal.width)
            #set($hMax = $height - 1)
            #set($wMax = $width - 1)
            #foreach($i in [0..$hMax])
                #foreach($j in [0..$wMax])
            if(sfcnIsMajorStep()) {
                $outputVar($i, $j) = (${signal.getName()}($i, $j) - $stateIntegral($i, $j))/model.stepSize;
                $stateIntegral($i, $j) = ${signal.getName()}($i, $j);
            }
                #end
            #end
        #end
    #else
        ## Variable-step solver - use time-based difference
        #if($signal.dataType == $realDataType)
            ## Scalar derivative with variable step
            if(sfcnIsMajorStep()) {
                if(model.time > 1e-7) {
                    $outputVar = (${signal.getName()} - Block${blockId}yout[0][0])/(model.time - Block${blockId}tout[0][0]);
                    Block${blockId}yout[0][0] = ${signal.getName()};
                    Block${blockId}tout[0][0] = model.time;
                } else {
                    $outputVar = 0.0;
                }
            }
        #else
            ## Matrix derivative with variable step
            if(sfcnIsMajorStep()) {
                #set($height = $signal.height)
                #set($width = $signal.width)
                #set($hMax = $height - 1)
                #set($wMax = $width - 1)
                #foreach($i in [0..$hMax])
                    #foreach($j in [0..$wMax])
                if(model.time > 1e-7) {
                    $outputVar($i, $j) = (${signal.getName()}($i, $j) - Block${blockId}yout[$i][$j])/(model.time - Block${blockId}tout[$i][$j]);
                    Block${blockId}yout[$i][$j] = ${signal.getName()}($i, $j);
                    Block${blockId}tout[$i][$j] = model.time;
                } else {
                    $outputVar($i, $j) = 0.0;
                }
                    #end
                #end
            }
        #end
    #end
#else
    ## Fallback if parameters missing
    ${block.getOutputPortVariable(0)} = 0.0; /* Derivative block missing parameters */
#end