#set( $block = $context.get("block") )
#set( $out = $blockOutputPortList.get(0) )
#set( $ops = $blockInputPortList.get(0).getLinkedLine().getLinkedOutputPort() )
#set( $rmin = $blockParameterList.get(0).getName() )

/* Output code for block LimitingLink */
if(${opsOutputSignalC.getName()} >= ${rmin}) {
    ${outOutputSignalC.getName()} = 1 / ${opsOutputSignalC.getName()};
}
else {
    ${outOutputSignalC.getName()} = 1 / ${rmin};
}