/* From Workspace output: (${blockId}) ${blockName} - Variable: ${variableName} */
{
    /* Read data from workspace variable '${variableName}' */
    /* TODO: Implement workspace data lookup and interpolation */

    /* For now, output zero until workspace interface is implemented */
    ${outputVar} = 0.0;

    /* Future implementation will:
     * 1. Look up time in workspace data
     * 2. Interpolate between points if ${interpolate} is enabled
     * 3. Handle end-of-data behavior: ${outputAfterFinalValue}
     */
}
