<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"E:/m2pcode/mybatis/mybatis-3-config.dtd">
<configuration>
  <settings>
    <setting name="mapUnderscoreToCamelCase" value="true"/>
  </settings>

	<environments default="windows">
		<environment id="ncslab">
			<transactionManager type="JDBC"></transactionManager>
			<dataSource type="POOLED">
				<property name="driver" value="org.sqlite.JDBC"/>
				<property name="url" value="jdbc:sqlite:E:/m2pcode/data/m2plab.db"/>
			</dataSource>
		</environment>
<!--		<environment id="linux">-->
<!--			<transactionManager type="JDBC"></transactionManager>-->
<!--			<dataSource type="POOLED">-->
<!--				<property name="driver" value="org.sqlite.JDBC"/>-->
<!--				<property name="url" value="jdbc:sqlite:/data/M2PLab/data/m2plab.db"/>-->
<!--			</dataSource>-->
<!--		</environment>-->
<!--		<environment id="ncslab">-->
<!--			<transactionManager type="JDBC"></transactionManager>-->
<!--			<dataSource type="POOLED">-->
<!--				<property name="driver" value="com.mysql.jdbc.Driver"/>-->
<!--				<property name="url" value="jdbc:mysql://localhost:3306/m2plab?useSSL=false"/>-->
<!--				<property name="username" value="root"/>-->
<!--				<property name="password" value="1234"/>-->
<!--			</dataSource>-->
<!--		</environment>-->
	</environments>



	<mappers>
		<mapper resource="AlgorithmsMapper.xml"/>
    <mapper resource="MdlBlockMapper.xml"/>
	</mappers>
</configuration>
