#set($remoteIp = $block.getParameter("UdpSenderRemoteIpForStm32").getStringValue())
#set($remotePort = $block.getParameter("UdpSenderRemotePortForStm32").getIntValue())

UDP_Send_Config("$remoteIp", $remotePort);
UDP_Client_Init();