/* UDP Sender declarations: (${blockId}) ${blockName} */
#[[#ifdef _WIN32
#include <winsock2.h>
#include <ws2tcpip.h>
#pragma comment(lib, "ws2_32.lib")
#define CLOSE_SOCKET closesocket
typedef int socklen_t;
#else
#include <sys/socket.h>
#include <netinet/in.h>
#include <arpa/inet.h>
#include <unistd.h>
#include <string.h>
#define CLOSE_SOCKET close
#endif
]]#
static struct sockaddr_in adr_serv_udpsend${blockId};
static int sockfd_udpsend${blockId};
