
if(model.majorStep==1){
    double value = 0.0f;
    auto* analogInput = AnalogIOManager::getAnalogInput(${slaveId});
    if (analogInput && analogInput->read(&value)) {
        ${blockOutputPortList.get(0).getOutputSignalC().getName()} = value;
    }
}