/*Code for initialization of block Discrete_Time_Integrator:(${blockId})${blockName}*/
#if($gainval && $sampleTime && $initialCondition && $xState)
    ## Initialize parameter variables
    #if($gainval.initCodeC)
        ${gainval.initCodeC}
    #end
    #if($sampleTime.initCodeC)
        ${sampleTime.initCodeC}
    #end
    #if($initialCondition.initCodeC)
        ${initialCondition.initCodeC}
    #end
    
    ## Initialize state with initial condition
    #if($gainval.dataType == $realDataType && $xState.dataType == $realDataType)
        ## Scalar gain and scalar state
        $xStateName = $initialConditionName;
    #elseif($gainval.dataType == $realDataType && $xState.dataType == $matrixDataType)
        ## Scalar gain and matrix state
        #set($hMax = $xStateHeight - 1)
        #set($wMax = $xStateWidth - 1)
        #foreach($i in [0..$hMax])
            #foreach($j in [0..$wMax])
                $xStateName[$i][$j] = $initialConditionName;
            #end
        #end
    #else
        ## Matrix gain and matrix state
        #set($hMax = $xStateHeight - 1)
        #set($wMax = $xStateWidth - 1)
        #foreach($i in [0..$hMax])
            #foreach($j in [0..$wMax])
                #if($initialCondition.dataType == $realDataType)
                    $xStateName[$i][$j] = $initialConditionName;
                #else
                    $xStateName[$i][$j] = $initialConditionName[$i][$j];
                #end
            #end
        #end
    #end
#else
    ## Fallback if parameters missing
    /* Discrete_Time_Integrator block ${blockId} missing parameters */
#end
