/* Code for output of block Discrete_Time_Integrator: (${blockId}) ${blockName} */
#if($signal && $gainval && $xState && $out && $sampleTime)
    #set($outputVar = $outputSignal)
    #set($inputVar = $signalName)
    #set($gainVar = $gainvalName)
    #set($stateVar = $xStateName)
    #set($sampleTimeVar = $sampleTimeName)

{
    ## Determine sample time (block-scoped to avoid conflicts)
    real_T Block${blockId}_sampleTimeTmp = ${sampleTimeVar} == -1 ? model.stepSize : ${sampleTimeVar};

    ## Check if it's a sample time hit
    if(fabs(floor(model.time/Block${blockId}_sampleTimeTmp+0.5) - model.time/Block${blockId}_sampleTimeTmp) < 0.000001 && mp->majorStep > 0) {
        #if($signal.dataType == $realDataType)
            ## Scalar discrete-time integration
            #if($gainval.dataType == $realDataType)
                #if($option == "Integration: Forward Euler")
                    $outputVar = $stateVar;
                    $stateVar = $stateVar + $gainVar * $sampleTimeVar * $inputVar;
                #elseif($option == "Integration: Backward Euler")
                    $outputVar = $stateVar + $gainVar * $inputVar * $sampleTimeVar;
                    $stateVar = $outputVar;
                #elseif($option == "Integration: Trapezoidal")
                    $outputVar = $stateVar + $sampleTimeVar / 2 * $inputVar * $gainVar;
                    $stateVar = $outputVar + $sampleTimeVar / 2 * $inputVar * $gainVar;
                #elseif($option == "Accumulation: Forward Euler")
                    $outputVar = $stateVar;
                    $stateVar = $stateVar + $gainVar * $inputVar;
                #elseif($option == "Accumulation: Backward Euler")
                    $outputVar = $stateVar + $gainVar * $inputVar;
                    $stateVar = $outputVar;
                #elseif($option == "Accumulation: Trapezoidal")
                    $outputVar = $stateVar + $inputVar * $gainVar * 0.5;
                    $stateVar = $outputVar + $inputVar * $gainVar * 0.5;
                #else
                    ## Default to Forward Euler
                    $outputVar = $stateVar;
                    $stateVar = $stateVar + $gainVar * $sampleTimeVar * $inputVar;
                #end
            #end
        #else
            ## Matrix discrete-time integration
            #set($hMax = $gainvalHeight - 1)
            #set($wMax = $gainvalWidth - 1)
            for(int i = 0; i <= $hMax; i++) {
                for(int j = 0; j <= $wMax; j++) {
                    #set($outputIdx = "${outputVar}(i, j)")
                    #set($stateIdx = "${stateVar}(i, j)")
                    #set($gainIdx = "${gainVar}(i, j)")

                    #if($option == "Integration: Forward Euler")
                        $outputIdx = $stateIdx;
                        $stateIdx = $stateIdx + $gainIdx * $sampleTimeVar * $inputVar;
                    #elseif($option == "Integration: Backward Euler")
                        $outputIdx = $stateIdx + $gainIdx * $inputVar * $sampleTimeVar;
                        $stateIdx = $outputIdx;
                    #elseif($option == "Integration: Trapezoidal")
                        $outputIdx = $stateIdx + $sampleTimeVar / 2 * $inputVar * $gainIdx;
                        $stateIdx = $outputIdx + $sampleTimeVar / 2 * $inputVar * $gainIdx;
                    #elseif($option == "Accumulation: Forward Euler")
                        $outputIdx = $stateIdx;
                        $stateIdx = $stateIdx + $gainIdx * $inputVar;
                    #elseif($option == "Accumulation: Backward Euler")
                        $outputIdx = $stateIdx + $gainIdx * $inputVar;
                        $stateIdx = $outputIdx;
                    #elseif($option == "Accumulation: Trapezoidal")
                        $outputIdx = $stateIdx + $inputVar * $gainIdx * 0.5;
                        $stateIdx = $outputIdx + $inputVar * $gainIdx * 0.5;
                    #else
                        ## Default to Forward Euler
                        $outputIdx = $stateIdx;
                        $stateIdx = $stateIdx + $gainIdx * $sampleTimeVar * $inputVar;
                    #end
                }
            }
        #end
    }
}
#else
    ## Fallback if parameters missing
    #if($out)
        ${outputSignal} = 0.0; /* Discrete_Time_Integrator block missing parameters */
    #end
#end
