/* Velocity Template for initialization of block DCMotorAngleDirect */
#set($blockId = $blockBlockId)
#set($blockName = $blockBlockName)

#if ($modelMode == $simulationMode)
    #foreach($state in $blockStateList)
        $stateName = 0;
    #end
#elseif ($modelMode == $compilationMode)
    #set($hardwareDefineName = "Block" + $blockId + "_DCMotorAngleDirect")
    initDCMotorAngleDirect(&$hardwareDefineName);

    char msg[255];
    HANDLE hComm = Serialport_Open($block.getParameter("port").getStringValue(), $block.getParameter("baudrate").getIntValue(), msg);
#end