#set($inputSignal = $block.getInputPortVariable(0))
#set($outputSpeed = $block.getOutputPortVariables().get(0))
#set($outputAngle = $block.getOutputPortVariables().get(1))

if ($modelMode == "Compilation") {
    #set($hardwareDefineName = "Block" + $block.getBlockId() + "_DCMotorAngleDirect")
    initDCMotorAngleDirect(&$hardwareDefineName);

    if (mp->majorStep > 0) {
        #set($pwmValue = $inputSignal)
        #set($pwmValue = $pwmValue > 0.5 ? 0.5 : $pwmValue)
        #set($pwmValue = $pwmValue < -0.5 ? -0.5 : $pwmValue)

        $outputSpeed = $hardwareDefineName.getSpeedPulse() * 5.79582;
        outputDCMotorAngleDirect(&$hardwareDefineName);

        unsigned char cmdangle[] = {0x01, 0x04, 0x00, 0x00, 0x00, 0x04, 0xf1, 0xc9};
        Serialport_Send(hComm, cmdangle, 8);
        char recvBuff1[255] = {0};
        Serialport_Recv(hComm, (uint8_t*)recvBuff1, 13);
        double Angle = 0.01098633 * (recvBuff1[6] + (recvBuff1[5] << 8));

        if ($block.getRWork("angledata").getName() - Angle >= 180) {
            #set($angleN = $block.getRWork("angle_N").getName() + 1)
        } else if ($block.getRWork("angledata").getName() - Angle <= -180) {
            #set($angleN = $block.getRWork("angle_N").getName() - 1)
        } else {
            #set($angleN = $block.getRWork("angle_N").getName())
        }

        $outputAngle = $angleN * 360 + Angle;
        $block.setRWork("angledata", Angle);
    }
}