#set($output = $outputPortList.get(0).getOutputSignalC())

/* Code for output of MatrixMultiply: ($blockId)$blockName */
$output.setName($inputPort0SignalName)

#foreach($i in [1..$inputPortListSize-1])
$output.multiply($inputPortList.get($i).getLinkedLine().getLinkedOutputPort().getOutputSignalC().getName())
#end