/*Code for output of block Demux:(${block.blockId})${block.blockName}*/
#set($outputNum = $outputNames.length() - 1)
#if($input.getHeight() == 1)
  #foreach($i in [0..$outputNum])
    ${outputNames.get($i)}=${input.getName()}(0,$i);
  #end
#else
  #foreach($i in [0..$outputNum])
    ${outputNames.get($i)}=${input.getName()}($i,0);
  #end
#end
