/*Code for initialization of block S-Function Builder:($blockId)$blockName*/
${fcnName}_$blockId(&sfcnStruc$blockId);
block$blockId.inputPortNum=${inputPortCount};block$blockId.outputPortNum=${outputPortCount};sfcnStruc$blockId.parentBlock=(BLOCK*)&block$blockId;
sfcnStart(sfcnStruc$blockId);