/*Code for output of block RateLimiter:(${block.getBlockId()})${block.getBlockName()}*/

#set($dataVar = "Block${block.getBlockId()}RateLimiter_data")

if(mp->majorStep > 0) {
    if(${signal.getName()} - ${dataVar} > ${upperLimit.getName()} * STEP_SIZE) {
        ${outputSignal.getName()} = ${upperLimit.getName()} * STEP_SIZE + ${dataVar};
    } else if(${signal.getName()} - ${dataVar} < ${lowerLimit.getName()} * STEP_SIZE) {
        ${outputSignal.getName()} = ${lowerLimit.getName()} * STEP_SIZE + ${dataVar};
    } else {
        ${outputSignal.getName()} = ${signal.getName()};
    }
    ${dataVar} = ${outputSignal.getName()};
}
