


#set($dataVar = "Block${blockId}RateLimiter_data")

if(mp->majorStep > 0) {
    if($signalName - ${dataVar} > ${UpperLimit} * STEP_SIZE) {
        $outputSignalName = ${UpperLimit} * STEP_SIZE + ${dataVar};
    } else if($signalName - ${dataVar} < ${LowerLimit} * STEP_SIZE) {
        $outputSignalName = ${LowerLimit} * STEP_SIZE + ${dataVar};
    } else {
        $outputSignalName = $signalName;
    }
    ${dataVar} = $outputSignalName;
}
