/*Code for output of block RateLimiter:($blockId)$blockName*/

#set($blockId = $blockBlockId)
#set($dataVar = "Block${blockId}RateLimiter_data")

if(mp->majorStep > 0) {
    if($signalName - ${dataVar} > $upperLimitName * STEP_SIZE) {
        $outputSignalName = $upperLimitName * STEP_SIZE + ${dataVar};
    } else if($signalName - ${dataVar} < $lowerLimitName * STEP_SIZE) {
        $outputSignalName = $lowerLimitName * STEP_SIZE + ${dataVar};
    } else {
        $outputSignalName = $signalName;
    }
    ${dataVar} = $outputSignalName;
}
