#set($DataType = $DataType)
#if(!$matrixMultiplication)
## Element-wise multiplication mode
#if($gain.getDataType() == $DataType.REAL)
#if($inputSignalObject.getDataType() == $DataType.REAL)
${outputSignalObject.getName()}=${gain.getName()}*${inputSignalObject.getName()};
#elseif($inputSignalObject.getDataType() == $DataType.MATRIX)
#foreach($i in [1..$inputHeight])
#foreach($j in [1..$inputWidth])
${outputSignalObject.getName()}($i,$j)=${gain.getName()}*${inputSignalObject.getName()}($i,$j);
#end
#end
#end
#elseif($gain.getDataType() == $DataType.MATRIX)
#if($inputSignalObject.getDataType() == $DataType.REAL)
#foreach($i in [1..$gainHeight])
#foreach($j in [1..$gainWidth])
${outputSignalObject.getName()}($i,$j)=${gain.getName()}($i,$j)*${inputSignalObject.getName()};
#end
#end
#elseif($inputSignalObject.getDataType() == $DataType.MATRIX)
#foreach($i in [1..$inputHeight])
#foreach($j in [1..$inputWidth])
${outputSignalObject.getName()}($i,$j)=${gain.getName()}($i,$j)*${inputSignalObject.getName()}($i,$j);
#end
#end
#end
#end
#else
## Matrix multiplication mode
#if($gain.getDataType() == $DataType.REAL)
#if($inputSignalObject.getDataType() == $DataType.REAL)
${outputSignalObject.getName()}=${gain.getName()}*${inputSignalObject.getName()};
#elseif($inputSignalObject.getDataType() == $DataType.MATRIX)
for(int i=0;i<${inputHeight};i++){
${outputSignalObject.getName()}(i,0)=${gain.getName()}*${inputSignalObject.getName()}(i,0);
}
#end
#elseif($gain.getDataType() == $DataType.MATRIX)
#if($inputSignalObject.getDataType() == $DataType.REAL)
for(int i=0;i<${gainWidth};i++){
${outputSignalObject.getName()}[0][i]=${gain.getName()}[0][i]*${inputSignalObject.getName()};
}
#elseif($inputSignalObject.getDataType() == $DataType.MATRIX)
${outputSignalObject.getName()}=${inputSignalObject.getName()}*${gain.getName()};
#end
#end
#end