#set($inputSignal = $inputPortList.get(0).getLinkedLine().getLinkedOutputPort().getOutputSignalC().getName())
#set($outputSignal = $outputPortList.get(0).getOutputSignalC().getName())

/* Code for MathFunction block $blockId */
#if($inputSignal.dataType == "REAL")
    #if($function == "transpose")
        $outputSignal = $inputSignal;
    #elseif($function == "reciprocal")
        $outputSignal = 1.0 / ($inputSignal);
    #elseif($function == "square")
        $outputSignal = ($inputSignal) * ($inputSignal);
    #elseif($function == "exp" || $function == "log" || $function == "log10")
        $outputSignal = $function($inputSignal);
    #elseif($function == "pow")
        $outputSignal = pow($inputSignal, $inputPortList.get(1).getLinkedLine().getLinkedOutputPort().getOutputSignalC().getName());
    #end
#elseif($inputSignal.dataType == "MATRIX")
    #set($wMax = $inputSignal.getWidth() - 1)
    #set($hMax = $inputSignal.getHeight() - 1)
    #if($function == "transpose")
        #foreach($i in [0..$wMax])
            #foreach($j in [0..$hMax])
                $outputSignal($j, $i) = $inputSignal($i, $j);
            #end
        #end
    #elseif($function == "reciprocal")
        #foreach($i in [0..$wMax])
            #foreach($j in [0..$hMax]);
            #end
        #end
    #elseif($function == "square")
        #foreach($i in [0..$wMax])
            #foreach($j in [0..$hMax])
                $outputSignal($i, $j) = ($inputSignal($i, $j)) * ($inputSignal($i, $j));
            #end
        #end
    #elseif($function == "exp" || $function == "log" || $function == "log10")
        #foreach($i in [0..$wMax])
            #foreach($j in [0..$hMax])
                $outputSignal($i, $j) = $function($inputSignal($i, $j));
            #end
        #end
    #elseif($function == "pow")
        #foreach($i in [0..$wMax])
            #foreach($j in [0..$hMax])
                $outputSignal($i, $j) = pow($inputSignal($i, $j), $inputPortList.get(1).getLinkedLine().getLinkedOutputPort().getOutputSignalC().getName());
            #end
        #end
    #end
#end
