/*Code for Derivative of BallBeamSystem:($blockId)$blockName*/
$localVariableDeclarations
if ($inputPortVariable < $la)
    u=$la;
else if (($inputPortVariable >= $la) && ($inputPortVariable <= $ua))
    u=$inputPortVariable;
else
    u=$ua;
$stateX0DerivativeName=$stateX1;
$stateX2DerivativeName=u-$stateX2;
$stateX1DerivativeName=-$M*$g*sin($d*u/$L)/($J/($R*$R)+$M)+$M*$stateX0*$d*$d*$stateX2DerivativeName*$stateX2DerivativeName/($L*$L*($J/($R*$R)+$M));