/*Code for Derivative of BallBeamSystem:($blockId)$blockName*/
#if($localVariableDeclarations)
${localVariableDeclarations}
#end
#if($inputVar && $la && $ua)
if (${inputVar} < ${la})
    u=${la};
else if ((${inputVar} >= ${la}) && (${inputVar} <= ${ua}))
    u=${inputVar};
else
    u=${ua};
#end
#if($stateX0DerivativeName && $stateX1)
${stateX0DerivativeName}=${stateX1};
#end
#if($stateX2DerivativeName && $stateX2)
${stateX2DerivativeName}=u-${stateX2};
#end
#if($stateX1DerivativeName && $M && $g && $d && $L && $J && $R && $stateX0)
${stateX1DerivativeName}=-${M}*${g}*sin(${d}*u/${L})/(${J}/(${R}*${R})+${M})+${M}*${stateX0}*${d}*${d}*${stateX2DerivativeName}*${stateX2DerivativeName}/(${L}*${L}*(${J}/(${R}*${R})+${M}));
#end