#set($input = $block.getInputPortVariable(0))

#set($gravity = $block.getParameter("gravity").getDoubleValue())
#set($mass_ball = $block.getParameter("mass_ball").getDoubleValue())
#set($moment_of_inertial = $block.getParameter("moment_of_inertial").getDoubleValue())
#set($length_beam = $block.getParameter("length_beam").getDoubleValue())
#set($length_link = $block.getParameter("length_link").getDoubleValue())
#set($radius_ball = $block.getParameter("radius_ball").getDoubleValue())
#set($lb_angle = $block.getParameter("lb_angle").getDoubleValue())
#set($ub_angle = $block.getParameter("ub_angle").getDoubleValue())
#set($lb_position = $block.getParameter("lb_position").getDoubleValue())

#set($stateX0 = $block.getStateVariable(1))
#set($stateX1 = $block.getStateVariable(2))
#set($stateX2 = $block.getStateVariable(3))

#set($outputPosition = $block.getOutputPortVariables().get(0).getName())
#set($outputAngle = $block.getOutputPortVariables().get(1).getName())
#set($outputDR = $block.getOutputPortVariables().get(2).getName())

if ($stateX0 <= $lb_position) {
    $outputPosition = $lb_position;
} else if (($stateX0 > $lb_position) && ($stateX0 <= $ub_angle)) {
    $outputPosition = $stateX0;
} else {
    $outputPosition = $ub_angle;
}

$outputAngle = $stateX1;
$outputDR = $block.getRWork("tem") * 180 / AERO_PI;