## Variables are now populated directly in Java context - no need for #set statements
## $input, $gravity, $mass_ball, etc. are available directly  
## $stateX0, $stateX1, $stateX2 are available directly
## $output1, $output2, $output3 are available directly

#if ($modelMode == $compilationMode)
    // Compilation mode - Hardware operation for actual ball-beam system
    if ($stateX0 <= $lb_position) {
        $output1 = $lb_position;
    } else if (($stateX0 > $lb_position) && ($stateX0 <= $ub_angle)) {
        $output1 = $stateX0;
    } else {
        $output1 = $ub_angle;
    }

    $output2 = $stateX1;
    $output3 = $rwork_tem * 180 / M_PI;

#elseif ($modelMode == $simulationMode)
    // Simulation mode - Mathematical model output
    if ($stateX0 <= $lb_position) {
        $output1 = $lb_position;
    } else if (($stateX0 > $lb_position) && ($stateX0 <= $ub_angle)) {
        $output1 = $stateX0;
    } else {
        $output1 = $ub_angle;
    }

    $output2 = $stateX1;
    // In simulation mode, compute angle from mathematical model
    $output3 = atan($stateX1 / $L) * 180 / M_PI;
#end