/*Code for output of block Sqrt:($blockId)$blockName*/
#if($inputHeight == 1 && $inputWidth == 1)
    ## Scalar square root: output = sqrt(input)
    $outputVar = sqrt($inputVar);
#else
    ## Matrix square root: element-wise operation
    #set($hMax = $inputHeight - 1)
    #set($wMax = $inputWidth - 1)
    #foreach($i in [0..$hMax])
        #foreach($j in [0..$wMax])
        ${outputVar}($i,$j) = sqrt(${inputVar}($i,$j));
        #end
    #end
#end
