/* Velocity Template for initialization of block MagneticLevitationSystem */
#set($blockId = $blockBlockId)
#set($blockName = $blockBlockName)

#if ($modelMode == $simulationMode)
    // Simulation mode - No hardware initialization needed
    #foreach($parameter in $blockParameterList)
        $parameterName = $parameterInitDouble;
    #end
#elseif ($modelMode == $compilationMode)
    #foreach($parameter in $blockParameterList)
        $parameterName = $parameterInitDouble;
    #end

    DEV_ModuleInit();
#end