/* Velocity Template for initialization of block MagneticLevitationSystem */
/*Code for initialization of block MagneticLevitationSystem:(${block.blockId})${block.blockName}*/

#if ($modelMode == $simulationMode)
    /* Simulation mode - No hardware initialization needed */
    #foreach($parameter in $block.parameterList)
        /* Initialize parameter: ${parameter.name} */
        /* Parameter initialized in global scope */
    #end
#elseif ($modelMode == $compilationMode)
    /* Compilation mode - Initialize hardware parameters */
    #foreach($parameter in $block.parameterList)
        /* Initialize parameter: ${parameter.name} */
        /* Parameter initialized in global scope */
    #end

#end