#set($input1 = $block.getInputPortVariable(0))

#set($gravity = $block.getParameter("gravity").getDoubleValue())
#set($x0 = $block.getParameter("EQUILIBRIUM_POINT_x0").getDoubleValue())
#set($i0 = $block.getParameter("EQUILIBRIUM_POINT_i0").getDoubleValue())
#set($Ks = $block.getParameter("TRANSDUCER_AIRGAP_VOLTAGE_CONSTANT").getDoubleValue())
#set($Ka = $block.getParameter("INPUT_RESISTANCE").getDoubleValue())

#set($position = $blockStateList.get(0).getName())
#set($velocity = $blockStateList.get(1).getName())

#set($outputPosition = $blockOutputPortVariables.get(0).getName())
#set($outputVelocity = $blockOutputPortVariables.get(1).getName())

#if ($modelMode == $compilationMode)
    // Compilation mode - Hardware operation for actual magnetic levitation system
    $outputPosition = -100 / 4.587156 * $position;
    $outputVelocity = $velocity;
#elseif ($modelMode == $simulationMode)
    // Simulation mode - Mathematical model for magnetic levitation system
    // Uses system states to calculate position and velocity outputs
    $outputPosition = -100 / 4.587156 * $position;  // Position measurement (scaled)
    $outputVelocity = $velocity;                    // Velocity measurement
#end