## ======================================================================================
## Improved PID Controller Output Template
## Leverages shared macros for better consistency and readability
## ======================================================================================
#parse("c/shared/data_type_macros.vm")

## Set up template context
#set($operationType = "output")
#parse("c/shared/block_header.vm")

## Block-specific variables
#set($blockId = $blockId)
#set($outputVar = $outputSignal)
#set($inputSignal = #getInputSignal(0))

## PID Controller computation
#if(#isScalar($cparaP))
    #if(#isScalar($inputSignal))
        ## Scalar PID computation
        if(sfcnIsMajorStep()) {
            Block${blockId}save_data[0] = $proportionalGainName * $inputSignalName;
            Block${blockId}save_data[1] = $derivativeGainName * $inputSignalName;
            Block${blockId}save_data[2] = $integralGainName * $inputSignalName;
            Block${blockId}save_data[3] = (Block${blockId}save_data[1] - $filterStateName) * $filterCoefficientName;
            double Block${blockId}_intermediate = Block${blockId}save_data[0] + $integralStateName + Block${blockId}save_data[3];

            ## Handle external reset
            #if($externalReset == "on")
            if(${resetSig}) {
                memset(Block${blockId}save_data, 0, sizeof(Block${blockId}save_data));
                Block${blockId}_intermediate = 0;
            }
            #end

            ## Apply output saturation if enabled
            #if($limitOutput == "on")
            ${outputVar} = (Block${blockId}_intermediate > $upperSaturationLimitName) ? $upperSaturationLimitName : 
                         ((Block${blockId}_intermediate < $lowerSaturationLimitName) ? $lowerSaturationLimitName : Block${blockId}_intermediate);
            #else
            ${outputVar} = Block${blockId}_intermediate;
            #end
        }
        
    #else
        ## Matrix input, scalar PID parameters
        #set($height = $inputSignalHeight)
        #set($width = $inputSignalWidth)
        #set($hMax = $height - 1)
        #set($wMax = $width - 1)
        #set($m5 = 5)
        
        #foreach($i in [0..$hMax])
            #foreach($j in [0..$wMax])
        if(sfcnIsMajorStep()) {
            Block${blockId}save_data[${i}][${j}*${m5}] = $proportionalGainName * $inputSignalName(${i}, ${j});
            Block${blockId}save_data[${i}][${j}*${m5}+1] = $derivativeGainName * $inputSignalName(${i}, ${j});
            Block${blockId}save_data[${i}][${j}*${m5}+2] = $integralGainName * $inputSignalName(${i}, ${j});
        }
        double Block${blockId}_intermediate = Block${blockId}save_data[${i}][${j}*${m5}] + 
                                             $integralStateName(${i}, ${j}) + 
                                             (Block${blockId}save_data[${i}][${j}*${m5}+1] - $filterStateName(${i}, ${j})) * $filterCoefficientName;

        ## Handle external reset
        #if($externalReset == "on")
        if(${resetSig}) {
            memset(Block${blockId}save_data, 0, sizeof(Block${blockId}save_data));
            Block${blockId}_intermediate = 0;
        }
        #end

        ## Apply output saturation if enabled
        #if($limitOutput == "on")
        ${outputVar}(${i}, ${j}) = (Block${blockId}_intermediate > $upperSaturationLimitName(${i}, ${j})) ? $upperSaturationLimitName(${i}, ${j}) : 
                                  ((Block${blockId}_intermediate < $lowerSaturationLimitName(${i}, ${j})) ? $lowerSaturationLimitName(${i}, ${j}) : Block${blockId}_intermediate);
        #else
        ${outputVar}(${i}, ${j}) = Block${blockId}_intermediate;
        #end
            #end
        #end
    #end
#else
    ## Matrix PID parameters
    #set($height = $proportionalGainHeight)
    #set($width = $proportionalGainWidth)  
    #set($hMax = $height - 1)
    #set($wMax = $width - 1)
    #set($m5 = 5)
    
    #if(#isScalar($inputSignal))
        ## Scalar input, matrix PID parameters
        ${blockId}_loop_i: for(int ${blockId}_i = 0; ${blockId}_i < ${height}; ${blockId}_i++) {
        ${blockId}_loop_j: for(int ${blockId}_j = 0; ${blockId}_j < ${width}; ${blockId}_j++) {
            if(sfcnIsMajorStep()) {
                Block${blockId}save_data[${blockId}_i][${blockId}_j*${m5}] = $proportionalGainName(${blockId}_i, ${blockId}_j) * $inputSignalName;
                Block${blockId}save_data[${blockId}_i][${blockId}_j*${m5}+1] = $derivativeGainName(${blockId}_i, ${blockId}_j) * $inputSignalName;
                Block${blockId}save_data[${blockId}_i][${blockId}_j*${m5}+2] = $integralGainName(${blockId}_i, ${blockId}_j) * $inputSignalName;
            }
            double Block${blockId}_intermediate = Block${blockId}save_data[${blockId}_i][${blockId}_j*${m5}] + 
                                                 $integralStateName(${blockId}_i, ${blockId}_j) + 
                                                 (Block${blockId}save_data[${blockId}_i][${blockId}_j*${m5}+1] - $filterStateName(${blockId}_i, ${blockId}_j)) * $filterCoefficientName(${blockId}_i, ${blockId}_j);

            ## Handle external reset
            #if($externalReset == "on")
            if(${resetSig}) {
                memset(Block${blockId}save_data, 0, sizeof(Block${blockId}save_data));
                Block${blockId}_intermediate = 0;
            }
            #end

            ## Apply output saturation if enabled
            #if($limitOutput == "on")
            ${outputVar}(${blockId}_i, ${blockId}_j) = (Block${blockId}_intermediate > $upperSaturationLimitName(${blockId}_i, ${blockId}_j)) ? $upperSaturationLimitName(${blockId}_i, ${blockId}_j) : 
                                                      ((Block${blockId}_intermediate < $lowerSaturationLimitName(${blockId}_i, ${blockId}_j)) ? $lowerSaturationLimitName(${blockId}_i, ${blockId}_j) : Block${blockId}_intermediate);
            #else
            ${outputVar}(${blockId}_i, ${blockId}_j) = Block${blockId}_intermediate;
            #end
        }
        }
    #else
        ## Matrix input, matrix PID parameters
        ${blockId}_loop_i: for(int ${blockId}_i = 0; ${blockId}_i < $inputSignalHeight; ${blockId}_i++) {
        ${blockId}_loop_j: for(int ${blockId}_j = 0; ${blockId}_j < $inputSignalWidth; ${blockId}_j++) {
            if(sfcnIsMajorStep()) {
                Block${blockId}save_data[${blockId}_i][${blockId}_j*${m5}] = $proportionalGainName(${blockId}_i, ${blockId}_j) * $inputSignalName(${blockId}_i, ${blockId}_j);
                Block${blockId}save_data[${blockId}_i][${blockId}_j*${m5}+1] = $derivativeGainName(${blockId}_i, ${blockId}_j) * $inputSignalName(${blockId}_i, ${blockId}_j);
                Block${blockId}save_data[${blockId}_i][${blockId}_j*${m5}+2] = $integralGainName(${blockId}_i, ${blockId}_j) * $inputSignalName(${blockId}_i, ${blockId}_j);
            }
            double Block${blockId}_intermediate = Block${blockId}save_data[${blockId}_i][${blockId}_j*${m5}] + 
                                                 $integralStateName(${blockId}_i, ${blockId}_j) + 
                                                 (Block${blockId}save_data[${blockId}_i][${blockId}_j*${m5}+1] - $filterStateName(${blockId}_i, ${blockId}_j)) * $filterCoefficientName(${blockId}_i, ${blockId}_j);

            ## Handle external reset
            #if($externalReset == "on")
            if(${resetSig}) {
                memset(Block${blockId}save_data, 0, sizeof(Block${blockId}save_data));
                Block${blockId}_intermediate = 0;
            }
            #end

            ## Apply output saturation if enabled
            #if($limitOutput == "on")
            ${outputVar}(${blockId}_i, ${blockId}_j) = (Block${blockId}_intermediate > $upperSaturationLimitName(${blockId}_i, ${blockId}_j)) ? $upperSaturationLimitName(${blockId}_i, ${blockId}_j) : 
                                                      ((Block${blockId}_intermediate < $lowerSaturationLimitName(${blockId}_i, ${blockId}_j)) ? $lowerSaturationLimitName(${blockId}_i, ${blockId}_j) : Block${blockId}_intermediate);
            #else
            ${outputVar}(${blockId}_i, ${blockId}_j) = Block${blockId}_intermediate;
            #end
        }
        }
    #end
#end