/*Code for output of block PID Controller:($block.blockId)$block.blockName*/
#set($signal = $block.inputPortList.get(0).getLinkedLine().getLinkedOutputPort().getOutputSignalC())
#set($cparaP = $block.cparaP)
#set($cparaI = $block.cparaI)
#set($cparaD = $block.cparaD)
#set($cparaN = $block.cparaN)
#set($stateIntegral = $block.stateIntegral)
#set($stateFilter = $block.stateFilter)
#set($limitOutput = $block.limitOutput)
#set($lowerSaturationLimit = $block.lowerSaturationLimit)
#set($upperSaturationLimit = $block.upperSaturationLimit)
#set($externalReset = $block.externalReset)

#if($cparaP.dataType == $realDataType)
  #if($signal.dataType == $realDataType)
    if(sfcnIsMajorStep()) {
      Block$block.blockIdsave_data[0] = $cparaP.name * $signal.name;
      Block$block.blockIdsave_data[1] = $cparaD.name * $signal.name;
      Block$block.blockIdsave_data[2] = $cparaI.name * $signal.name;
      Block$block.blockIdsave_data[3] = (Block$block.blockIdsave_data[1] - $stateFilter.name) * $cparaN.name;
      Block$block.blockIdsave_data[4] = Block$block.blockIdsave_data[0] + $stateIntegral.name + Block$block.blockIdsave_data[3];
      
      #if($externalReset == "on")
        if($block.inputPortList.get(1).getLinkedLine().getLinkedOutputPort().getOutputSignalC().name) {
          memset(Block$block.blockIdsave_data, 0, sizeof(Block$block.blockIdsave_data));
        }
      #end
      
      #if($limitOutput == "on")
        if(Block$block.blockIdsave_data[4] > $upperSaturationLimit.name) {
          $block.getOutputPortVariable(0) = $upperSaturationLimit.name;
        } else if(Block$block.blockIdsave_data[4] < $lowerSaturationLimit.name) {
          $block.getOutputPortVariable(0) = $lowerSaturationLimit.name;
        } else {
          $block.getOutputPortVariable(0) = Block$block.blockIdsave_data[4];
        }
      #else
        $block.getOutputPortVariable(0) = Block$block.blockIdsave_data[4];
      #end
    }
  #elseif($signal.dataType == $matrixDataType)
    #foreach($i in [0..$signal.height-1])
      #foreach($j in [0..$signal.width-1])
        if(sfcnIsMajorStep()) {
          Block$block.blockIdsave_data[$i][$j*5] = $cparaP.name * $signal.name($i,$j);
          Block$block.blockIdsave_data[$i][$j*5+1] = $cparaD.name * $signal.name($i,$j);
          Block$block.blockIdsave_data[$i][$j*5+2] = $cparaI.name * $signal.name($i,$j);
        }
        Block$block.blockIdsave_data[$i][$j*5+3] = (Block$block.blockIdsave_data[$i][$j*5+1] - $stateFilter.name($i,$j)) * $cparaN.name;
        Block$block.blockIdsave_data[$i][$j*5+4] = Block$block.blockIdsave_data[$i][$j*5] + $stateIntegral.name($i,$j) + Block$block.blockIdsave_data[$i][$j*5+3];
        
        #if($externalReset == "on")
          if($block.inputPortList.get(1).getLinkedLine().getLinkedOutputPort().getOutputSignalC().name) {
            memset(Block$block.blockIdsave_data, 0, sizeof(Block$block.blockIdsave_data));
          }
        #end
        
        #if($limitOutput == "on")
          if(Block$block.blockIdsave_data[$i][$j*5+4] > $upperSaturationLimit.name($i,$j)) {
            $block.getOutputPortVariable(0)($i,$j) = $upperSaturationLimit.name($i,$j);
          } else if(Block$block.blockIdsave_data[$i][$j*5+4] < $lowerSaturationLimit.name($i,$j)) {
            $block.getOutputPortVariable(0)($i,$j) = $lowerSaturationLimit.name($i,$j);
          } else {
            $block.getOutputPortVariable(0)($i,$j) = Block$block.blockIdsave_data[$i][$j*5+4];
          }
        #else
          $block.getOutputPortVariable(0)($i,$j) = Block$block.blockIdsave_data[$i][$j*5+4];
        #end
      #end
    #end
  #end
#elseif($cparaP.dataType == $matrixDataType)
  #if($signal.dataType == $realDataType)
    #foreach($i in [0..$cparaP.height-1])
      #foreach($j in [0..$cparaP.width-1])
        if(sfcnIsMajorStep()) {
          Block$block.blockIdsave_data[$i][$j*5] = $cparaP.name($i,$j) * $signal.name;
          Block$block.blockIdsave_data[$i][$j*5+1] = $cparaD.name($i,$j) * $signal.name;
          Block$block.blockIdsave_data[$i][$j*5+2] = $cparaI.name($i,$j) * $signal.name;
          Block$block.blockIdsave_data[$i][$j*5+3] = (Block$block.blockIdsave_data[$i][$j*5+1] - $stateFilter.name($i,$j)) * $cparaN.name($i,$j);
          Block$block.blockIdsave_data[$i][$j*5+4] = Block$block.blockIdsave_data[$i][$j*5] + $stateIntegral.name($i,$j) + Block$block.blockIdsave_data[$i][$j*5+3];
        }
        
        #if($externalReset == "on")
          if($block.inputPortList.get(1).getLinkedLine().getLinkedOutputPort().getOutputSignalC().name) {
            memset(Block$block.blockIdsave_data, 0, sizeof(Block$block.blockIdsave_data));
          }
        #end
        
        #if($limitOutput == "on")
          if(Block$block.blockIdsave_data[$i][$j*5+4] > $upperSaturationLimit.name($i,$j)) {
            $block.getOutputPortVariable(0)($i,$j) = $upperSaturationLimit.name($i,$j);
          } else if(Block$block.blockIdsave_data[$i][$j*5+4] < $lowerSaturationLimit.name($i,$j)) {
            $block.getOutputPortVariable(0)($i,$j) = $lowerSaturationLimit.name($i,$j);
          } else {
            $block.getOutputPortVariable(0)($i,$j) = Block$block.blockIdsave_data[$i][$j*5+4];
          }
        #else
          $block.getOutputPortVariable(0)($i,$j) = Block$block.blockIdsave_data[$i][$j*5+4];
        #end
      #end
    #end
  #elseif($signal.dataType == $matrixDataType)
    #foreach($i in [0..$cparaP.height-1])
      #foreach($j in [0..$cparaP.width-1])
        if(sfcnIsMajorStep()) {
          Block$block.blockIdsave_data[$i][$j*5] = $cparaP.name($i,$j) * $signal.name($i,$j);
          Block$block.blockIdsave_data[$i][$j*5+1] = $cparaD.name($i,$j) * $signal.name($i,$j);
          Block$block.blockIdsave_data[$i][$j*5+2] = $cparaI.name($i,$j) * $signal.name($i,$j);
          Block$block.blockIdsave_data[$i][$j*5+3] = (Block$block.blockIdsave_data[$i][$j*5+1] - $stateFilter.name($i,$j)) * $cparaN.name($i,$j);
          Block$block.blockIdsave_data[$i][$j*5+4] = Block$block.blockIdsave_data[$i][$j*5] + $stateIntegral.name($i,$j) + Block$block.blockIdsave_data[$i][$j*5+3];
        }
        
        #if($externalReset == "on")
          if($block.inputPortList.get(1).getLinkedLine().getLinkedOutputPort().getOutputSignalC().name) {
            memset(Block$block.blockIdsave_data, 0, sizeof(Block$block.blockIdsave_data));
          }
        #end
        
        #if($limitOutput == "on")
          if(Block$block.blockIdsave_data[$i][$j*5+4] > $upperSaturationLimit.name($i,$j)) {
            $block.getOutputPortVariable(0)($i,$j) = $upperSaturationLimit.name($i,$j);
          } else if(Block$block.blockIdsave_data[$i][$j*5+4] < $lowerSaturationLimit.name($i,$j)) {
            $block.getOutputPortVariable(0)($i,$j) = $lowerSaturationLimit.name($i,$j);
          } else {
            $block.getOutputPortVariable(0)($i,$j) = Block$block.blockIdsave_data[$i][$j*5+4];
          }
        #else
          $block.getOutputPortVariable(0)($i,$j) = Block$block.blockIdsave_data[$i][$j*5+4];
        #end
      #end
    #end
  #end
#endif
