
#set($m5 = 5)  // 矩阵间隔因子

#if($proportionalGainDataType == $realDataType)
  #if($signalDataType == $realDataType)
  if(sfcnIsMajorStep()) {
  Block${blockId}save_data[0] = $proportionalGainName * $signalName;
  Block${blockId}save_data[1] = $derivativeGainName * $signalName;
  Block${blockId}save_data[2] = $integralGainName * $signalName;
  Block${blockId}save_data[3] = (Block${blockId}save_data[1] - $stateFilterName) * $filterCoefficientName;
  double intermediate = Block${blockId}save_data[0] + $stateIntegralName + Block${blockId}save_data[3];

    #if($externalReset == "on")
    if($resetSigName) {
    memset(Block${blockId}save_data, 0, sizeof(Block${blockId}save_data));
    intermediate = 0;
    }
    #end

    #if($limitOutput == "on")
      $outputSignal = (intermediate > $upperSaturationLimitName) ? $upperSaturationLimitName : \
    ((intermediate < $lowerSaturationLimitName) ? $lowerSaturationLimitName : intermediate);
    #else
      $outputSignal = intermediate;
    #end
  }
  #else
    for(int i = 0; i < $signalHeight; i++) {
      for(int j = 0; j < $signalWidth; j++) {
        #set($baseIndex = "j*$m5")
        #set($index1 = "j*$m5+1")
        #set($index2 = "j*$m5+2")
        if(sfcnIsMajorStep()) {
          Block${blockId}save_data[i][$baseIndex] = $proportionalGainName * ${signalName}(i,j);
          Block${blockId}save_data[i][$index1] = $derivativeGainName * ${signalName}(i,j);
          Block${blockId}save_data[i][$index2] = $integralGainName * ${signalName}(i,j);
        }
  double intermediate = Block${blockId}save_data[i][$baseIndex] +
    ${stateIntegralName}(i,j) +
    (Block${blockId}save_data[i][$index1] - ${stateFilterName}(i,j)) * $filterCoefficientName;

    #if($externalReset == "on")
    if($resetSigName) {
      memset(Block${blockId}save_data, 0, sizeof(Block${blockId}save_data));
    intermediate = 0;
    }
    #end

    #if($limitOutput == "on")
      ${outputSignal}.set(i,j, (intermediate > ${upperSaturationLimitName}(i,j)) ? ${upperSaturationLimitName}(i,j) : \
    ((intermediate < ${lowerSaturationLimitName}(i,j)) ? ${lowerSaturationLimitName}(i,j) : intermediate));
    #else
      ${outputVar}.set(i,j, intermediate);
    #end
  }
  }
  #end
#else
  #if($signalDataType == $realDataType)
    for(int i = 0; i < $proportionalGainHeight; i++) {
      for(int j = 0; j < $proportionalGainWidth; j++) {
        #set($baseIndex = "j*$m5")
        #set($index1 = "j*$m5+1")
        #set($index2 = "j*$m5+2")
  if(sfcnIsMajorStep()) {
  Block${blockId}save_data[i][$baseIndex] = ${proportionalGainName}(i,j) * $signalName;
  Block${blockId}save_data[i][$index1] = ${derivativeGainName}(i,j) * $signalName;
  Block${blockId}save_data[i][$index2] = ${integralGainName}(i,j) * $signalName;
  }
  double intermediate = Block${blockId}save_data[i][$baseIndex] + \
    ${stateIntegralName}(i,j) + \
  (Block${blockId}save_data[i][$index1] - ${stateFilterName}(i,j)) * ${filterCoefficientName}(i,j);

    #if($externalReset == "on")
    if($resetSigName) {
    memset(Block${blockId}save_data, 0, sizeof(Block${blockId}save_data));
    intermediate = 0;
    }
    #end

    #if($limitOutput == "on")
      ${outputSignal}.set(i,j, (intermediate > ${upperSaturationLimitName}(i,j)) ? ${upperSaturationLimitName}(i,j) : \
    ((intermediate < ${lowerSaturationLimitName}(i,j)) ? ${lowerSaturationLimitName}(i,j) : intermediate));
    #else
      ${outputVar}.set(i,j, intermediate);
    #end
  }
  }
  #else
    for(int i = 0; i < ${signal.height}; i++) {
      for(int j = 0; j < ${signal.width}; j++) {
        #set($baseIndex = "j*$m5")
        #set($index1 = "j*$m5+1")
        #set($index2 = "j*$m5+2")
  if(sfcnIsMajorStep()) {
  Block${blockId}save_data[i][$baseIndex] = ${proportionalGainName}(i,j) * ${signalName}(i,j);
  Block${blockId}save_data[i][$index1] = ${derivativeGainName}(i,j) * ${signalName}(i,j);
  Block${blockId}save_data[i][$index2] = ${integralGainName}(i,j) * ${signalName}(i,j);
  }
  double intermediate = Block${blockId}save_data[i][$baseIndex] + \
    ${stateIntegralName}(i,j) + \
  (Block${blockId}save_data[i][$index1] - ${stateFilterName}(i,j)) * ${filterCoefficientName}(i,j);

    #if($externalReset == "on")
    if($resetSigName) {
    memset(Block${blockId}save_data, 0, sizeof(Block${blockId}save_data));
    intermediate = 0;
    }
    #end

    #if($limitOutput == "on")
      ${outputSignal}.set(i,j, (intermediate > ${upperSaturationLimitName}(i,j)) ? ${upperSaturationLimitName}(i,j) : \
    ((intermediate < ${lowerSaturationLimitName}(i,j)) ? ${lowerSaturationLimitName}(i,j) : intermediate));
    #else
      ${outputVar}.set(i,j, intermediate);
    #end
  }
  }
  #end
#end
