/*Code for Update of PID Controller:($blockId)$blockName*/
#set($signal = $inputPortList[0].linkedLine.linkedOutputPort.outputSignalC)

#if($signalDataType == $realDataType && $PObject.dataType == $realDataType)
    ## Scalar PID state update
    $stateIntegralName = $stateIntegralName + $stateIntegralDerivativeName * model.stepSize;
    $stateFilterName = $stateFilterName + $stateFilterDerivativeName * model.stepSize;
#else
    ## Matrix PID state update
    #set($height = $stateFilterHeight)
    #set($width = $stateFilterWidth)
    #set($hMax = $height - 1)
    #set($wMax = $width - 1)
    
    #foreach($i in [0..$hMax])
        #foreach($j in [0..$wMax])
            $stateIntegralName[$i][$j] = $stateIntegralName[$i][$j] + $stateIntegralDerivativeName[$i][$j] * model.stepSize;
            $stateFilterName[$i][$j] = $stateFilterName[$i][$j] + $stateFilterDerivativeName[$i][$j] * model.stepSize;
        #end
    #end
#end
