/* Code for initialization of block Discrete_Transfer_Fcn:(${blockId}) ${blockName} */
${sampleTime.initCodeC}
${num.initCodeC}
${den.initCodeC}
${initialStates.initCodeC}
#set($i = 0)
#if($states.size() > 1)
  #set($stateSizeIndex = $statesSize - 1)
  #foreach($i in [0..$stateSizeIndex])
    $stateName = $initialStatesName[0][${i}];
  #end
#else
  ${states.get(0).getName()} = $initialStatesName;
#end
