/* Code for output of discrete_transfer_fun:(${block.blockId}) ${block.blockName} */
{real_T currentTime = model.time;
real_T sampleTimeTmp = ${sampleTime.getName()} == -1 ? model.stepSize : ${sampleTime.getName()};

if(fabs(floor(currentTime/sampleTimeTmp+0.5) - currentTime/sampleTimeTmp) < 0.000001) {
#set($h = $den.width - $num.width - 1)

#if($feedThrough)
    ${outputs.get(0)} = Block${block.blockId}_discrete_transfer_savedata[0] * ${num.getName()}(0, 0)
    $set($numWidthIndex = $num.width - 1)
    #set($stateIndices = $block.calculateStateIndices(1, $numWidthIndex))
    #foreach($index in $stateIndices)
        $set($nextIndex = $index + 1)
        + ${num.getName()}(0, $nextIndex) * ${states.get($index).getName()}
    #end
#else
    ${outputs.get(0)} = 0;
    #set($stateIndices = $block.calculateStateIndices(1, $num.width))
    #foreach($index in $stateIndices)
      #set($nextIndex = $index + $h)
        + ${num.getName()}(0, ${index}) * ${states.get($nextIndex).getName()}#if($states.get($nextIndex).width == 1 && $states.get($nextIndex).height == 1)(0, 0)#end
    #end
#end
}}
