
#if($num && $den && $states && $outputs && $outputs.size() > 0)
    #set($outputVar = $output1)
    
    
    ## Determine sample time
    #if($sampleTime)
        real_T sampleTimeTmp = $sampleTimeName == -1 ? model.stepSize : $sampleTimeName;
    #else
        real_T sampleTimeTmp = model.stepSize;
    #end
    
    ## Check if it's a sample time hit
    if(fabs(floor(model.time/sampleTimeTmp+0.5) - model.time/sampleTimeTmp) < 0.000001) {
        #if($feedThrough)
            ## Direct feedthrough case
            $outputVar = Block${blockId}_discrete_transfer_savedata[0] * $numName[0][0];
            #set($numWidthIndex = $numWidth - 1)
            #foreach($index in [0..$numWidthIndex])
                #set($nextIndex = $index + 1)
            $outputVar += $numName[0][$nextIndex] * $stateName;
            #end
        #else
            ## No direct feedthrough
            $outputVar = 0.0;
            #set($h = $denWidth - $numWidth - 1)
            #set($wMax = $numWidth - 1)
            #foreach($index in [0..$wMax])
                #set($nextIndex = $index + $h)
                #if($stateWidth == 1 && $stateHeight == 1)
            $outputVar += $numName[0][${index}] * $stateName[0][0];
                #else
            $outputVar += $numName[0][${index}] * $stateName;
                #end
            #end
        #end
    }
#else
    ## Fallback if parameters missing
    #if($outputs && $outputs.size() > 0)
        ${output1} = 0.0; /* Discrete_Transfer_Fcn block missing parameters */
    #end
#end
