/*Code for output of block ${name}:($blockId)$blockName*/
int recvbuf = 0;
socklen_t len = sizeof(adr_serv_netrecv$blockId);
union data_union data_union_recv$blockId;if(model.majorStep==1){
recvfrom(sockfd_netrecv$blockId, &recvbuf, sizeof(recvbuf), 0,(struct sockaddr*)&adr_serv_netrecv$blockId,&len);
data_union_recv$blockId.c[3] = recvbuf >> 24;
data_union_recv$blockId.c[2] = recvbuf >> 16;
data_union_recv$blockId.c[1] = recvbuf >> 8;
data_union_recv$blockId.c[0] = recvbuf;
${outputSignal}=data_union_recv$blockId.v;
}