/*Code for initialization of block InvertedPendulumTest:(${block.getBlockId()})${block.getBlockName()}*/
${m0.getInitCodeC()}
${m1.getInitCodeC()}
${l.getInitCodeC()}
REAL g = 9.8;
${initState.getInitCodeC()}

std::vector<double> init_state(4);
for (int i = 0; i < 4; ++i) {
    init_state[i] = InvertedPendulum1_initState(0, i);
}

${modelVariable.getInitCodeC()}