/*Code for output of block $blockType: ($blockId) $blockName*/
auto $modelVariableName_mat = ${inputSignal};

{
    std::vector<double> temp_vec = $modelVariableName->step($modelVariableName_mat, 0.01);
    Eigen::MatrixXd temp_mat(temp_vec.size(), 1);
    for (size_t i = 0; i < temp_vec.size(); ++i) {
        temp_mat(i, 0) = temp_vec[i];
    }
    ${outputSignal} = temp_mat;
}