#set( $block = $context.get("block") )
#set( $out = $blockOutputPortList.get(0) )
#set( $ops = $blockInputPortList.get(0).getLinkedLine().getLinkedOutputPort() )

/* Output code for block DiodeCurrent */
if(${opsOutputSignalC.getName()} > 0) {
    ${outOutputSignalC.getName()} = (${opsOutputSignalC.getName()} * ${ron}) + ${vf};
}
else {
    ${outOutputSignalC.getName()} = ${opsOutputSignalC.getName()} / ${goff};
}