
#if($signal1 && $signal2 && $ops && $relop)
    #if($signal1.dataType == $realDataType)
        ## Scalar relational operation
        if($signal1Name $relop $signal2Name) {
            $opsName = 1.0;
        } else {
            $opsName = 0.0;
        }
    #else
        ## Matrix relational operation
        #set($height = $signal1.height)
        #set($width = $signal1.width)
        #set($hMax = $height - 1)
        #set($wMax = $width - 1)
        #foreach($i in [0..$hMax])
            #foreach($j in [0..$wMax])
        if($signal1Name[$i][$j] $relop $signal2Name[$i][$j]) {
            $opsName[$i][$j] = 1.0;
        } else {
            $opsName[$i][$j] = 0.0;
        }
            #end
        #end
    #end
#else
    ## Fallback if parameters missing
    $opsName = 0.0; /* RelationalOperator parameters missing, using default */
#end
