/* Code for output of block ZeroPole: (${blockId}) ${blockName} */
#if($num && $states && $outputs && $outputs.size() > 0)
    ## Initialize output: if feedthrough, start with D*input, otherwise 0
    #if($feedThrough && $D)
${outputSignal} = ${D} * ${inputSignal};
    #else
${outputSignal} = 0.0;
    #end

    ## Add contributions from numerator coefficients and states
    ## Loop through states forward, use num coefficients in reverse (from last to first)
    #if($num.size() > 0 && $states.size() > 0)
        #set($numIndex = $num.size() - 1)
        #foreach($state in $states)
            #if($numIndex >= 0)
${outputSignal} += ${state.getName()} * ${num.get($numIndex)};
            #end
            #set($numIndex = $numIndex - 1)
        #end
    #end
#else
    ## Fallback if parameters missing
    #if($outputs && $outputs.size() > 0)
${outputSignal} = 0.0; /* ZeroPole block missing parameters */
    #end
#end
