## Determine multiplication mode from Multiplication parameter
#set($isMatrixMult = false)
#if($MultiplicationValue && ($MultiplicationValue.contains("Matrix") || $MultiplicationValue.contains("matrix")))
    #set($isMatrixMult = true)
#end

## Element-wise multiplication (default behavior)
#if(!$isMatrixMult)
    #if($inputHeight == 1 && $inputWidth == 1)
        ## Scalar input, scalar gain
        ${outputVar} = ${GainName} * ${inputVar};
    #else
        ## Matrix input, element-wise multiplication (using Eigen indexing)
        #foreach($i in [0..$hMax])
            #foreach($j in [0..$wMax])
        ${outputVar}($i, $j) = ${GainName} * ${inputVar}($i, $j);
            #end
        #end
    #end
#else
    ## Matrix multiplication mode
    ${outputVar} = ${GainName} * ${inputVar};
#end

