#set($inputPortList = $inputPortList)
#set($outputPortList = $outputPortList.get(0))
#set($gainValue = $gain.getName())

/* Code for Gain block $blockId */
#if($multiplication == false)
    #if($inputPortList.get(0).getLinkedLine().getLinkedOutputPort().getOutputSignalC().dataType == "REAL")
        $outputPortList.getOutputSignalC().getName() = $gainValue * $inputPortList.get(0).getLinkedLine().getLinkedOutputPort().getOutputSignalC().getName();
    #elseif($inputPortList.get(0).getLinkedLine().getLinkedOutputPort().getOutputSignalC().dataType == "MATRIX")
        #set($height = $inputPortList.get(0).getLinkedLine().getLinkedOutputPort().getOutputSignalC().getHeight())
        #set($width = $inputPortList.get(0).getLinkedLine().getLinkedOutputPort().getOutputSignalC().getWidth())
        #set($hMax = $height - 1)
        #set($wMax = $width - 1)
        #foreach($i in [0..$hMax])
            #foreach($j in [0..$wMax])
                $outputPortList.getOutputSignalC().getName()($i, $j) = $gainValue * $inputPortList.get(0).getLinkedLine().getLinkedOutputPort().getOutputSignalC().getName()($i, $j);
            #end
        #end
    #end
#else
    #if($inputPortList.get(0).getLinkedLine().getLinkedOutputPort().getOutputSignalC().dataType == "REAL")
        $outputPortList.getOutputSignalC().getName() = $inputPortList.get(0).getLinkedLine().getLinkedOutputPort().getOutputSignalC().getName() * $gainValue;
    #elseif($inputPortList.get(0).getLinkedLine().getLinkedOutputPort().getOutputSignalC().dataType == "MATRIX")
        $outputPortList.getOutputSignalC().getName() = $inputPortList.get(0).getLinkedLine().getLinkedOutputPort().getOutputSignalC().getName() * $gainValue;
    #end
#end
