/* Velocity Template for initialization of block Superposition */



#if ($modelMode == $simulationMode)
    // Simulation mode - No hardware initialization needed
    #foreach($parameter in $blockParameterList)
        $parameterName = $parameterInitDouble;
    #end
#elseif ($modelMode == $compilationMode)
    #foreach($parameter in $blockParameterList)
        $parameterName = $parameterInitDouble;
    #end

    wiringPiSetupGpio();

    DEV_ModuleInit();
    if (ADS1256_init() == 1) {
        printf("\\r\\n ADS1256_init   END \\r\\n");
        DEV_ModuleExit();
        exit(0);
    }
#end