/* Code for initialization of block Sine Wave:($blockId) $blockName */
${AmplitudeObject.getInitCodeC()}
${FrequencyObject.getInitCodeC()}
${PhaseObject.getInitCodeC()}
${BiasObject.getInitCodeC()}