/*Code for output of block SineWave:($blockId)$blockName*/
#if($amplitude && $bias && $frequency && $phase)
    #if($amplitude.dataType == $realDataType)
        ## Scalar sine wave
        ${output1} = ${biasName} + ${amplitudeName} * sin(${frequencyName} * model.time + ${phaseName});
    #else
        ## Matrix sine wave
        #set($height = $amplitude.height)
        #set($width = $amplitude.width)
        #set($hMax = $height - 1)
        #set($wMax = $width - 1)
        #foreach($i in [0..$hMax])
            #foreach($j in [0..$wMax])
        ${output1}($i,$j) = ${biasName}($i,$j) + ${amplitudeName}($i,$j) * sin(${frequencyName}($i,$j) * model.time + ${phaseName}($i,$j));
            #end
        #end
    #end
#else
    ## Fallback with default values
    ${output1} = 1.0 * sin(1.0 * model.time + 0.0); /* Using default sine wave parameters */
#end
