/* Define arrays for block discrete_Transfer_Fcnz:(${blockId}) ${blockName} */
double Block${blockId}_discrete_transferz_savedata[${signal1Height}][${signal1Width}];
double Block${blockId}_state[${signal1Height}][${stateNum}];
