#set($output = $outputPortList.get(0).getOutputSignalC())
#set($dimensions = $block.getParameter("outputDimensions").getData().getInitValue())

/* Code for output of IdentityMatrix: ($blockBlockId)$blockBlockName */
$output.setName(Matrix.identity($dimensions))