/*Code for output of block LogicOperator:($blockId)$blockName*/
#if($inputs && $inputs.size() > 0 && $opsName && $operator)
    #set($inputLength = $inputs.size() - 1)
    #set($signal1 = $inputs.get(0).linkedLine.linkedOutputPort.outputSignalC)
    #set($blockId = $blockBlockId)
    
    #if($signal1.dataType == $realDataType)
        ## Scalar logic operations
        #if($operator == "AND")
            double pro${blockId} = 1.0;
            #foreach($i in [0..$inputLength])
                #set($inputSignal = $inputs.get($i).linkedLine.linkedOutputPort.outputSignalC)
                pro${blockId} *= $inputSignalName;
            #end
            $opsName = (pro${blockId} == 0.0) ? 0.0 : 1.0;
        #elseif($operator == "OR")
            double sum${blockId} = 0.0;
            #foreach($i in [0..$inputLength])
                #set($inputSignal = $inputs.get($i).linkedLine.linkedOutputPort.outputSignalC)
                sum${blockId} += $inputSignalName;
            #end
            $opsName = (sum${blockId} == 0.0) ? 0.0 : 1.0;
        #elseif($operator == "NAND")
            double pro${blockId} = 1.0;
            #foreach($i in [0..$inputLength])
                #set($inputSignal = $inputs.get($i).linkedLine.linkedOutputPort.outputSignalC)
                pro${blockId} *= $inputSignalName;
            #end
            $opsName = (pro${blockId} == 0.0) ? 1.0 : 0.0;
        #elseif($operator == "NOR")
            double sum${blockId} = 0.0;
            #foreach($i in [0..$inputLength])
                #set($inputSignal = $inputs.get($i).linkedLine.linkedOutputPort.outputSignalC)
                sum${blockId} += $inputSignalName;
            #end
            $opsName = (sum${blockId} == 0.0) ? 1.0 : 0.0;
        #elseif($operator == "XOR")
            int sum${blockId} = 0;
            #foreach($i in [0..$inputLength])
                #set($inputSignal = $inputs.get($i).linkedLine.linkedOutputPort.outputSignalC)
                if($inputSignalName != 0.0) {
                    sum${blockId} += 1;
                }
            #end
            $opsName = (sum${blockId} % 2 == 0) ? 0.0 : 1.0;
        #elseif($operator == "NXOR")
            int sum${blockId} = 0;
            #foreach($i in [0..$inputLength])
                #set($inputSignal = $inputs.get($i).linkedLine.linkedOutputPort.outputSignalC)
                if($inputSignalName != 0.0) {
                    sum${blockId} += 1;
                }
            #end
            $opsName = (sum${blockId} % 2 == 0) ? 1.0 : 0.0;
        #elseif($operator == "NOT")
            #if($inputLength == 0)
                #set($inputSignal = $inputs.get(0).linkedLine.linkedOutputPort.outputSignalC)
                $opsName = ($inputSignalName == 0.0) ? 1.0 : 0.0;
            #else
                $opsName = 0.0; /* NOT operator requires exactly one input */
            #end
        #else
            $opsName = 0.0; /* Unknown operator */
        #end
    #else
        ## Matrix logic operations
        #set($height = $signal1.height)
        #set($width = $signal1.width)
        #set($hIndex = $height - 1)
        #set($wIndex = $width - 1)
        
        #if($operator == "AND")
            double pro${blockId}[$height][$width];
            #foreach($i in [0..$hIndex])
                #foreach($j in [0..$wIndex])
                    pro${blockId}[$i][$j] = 1.0;
                    #foreach($input in $inputs)
                        #set($inputSignal = $input.linkedLine.linkedOutputPort.outputSignalC)
                        pro${blockId}[$i][$j] *= $inputSignalName[$i][$j];
                    #end
                    $opsName[$i][$j] = (pro${blockId}[$i][$j] == 0.0) ? 0.0 : 1.0;
                #end
            #end
        #elseif($operator == "OR")
            double sum${blockId}[$height][$width];
            #foreach($i in [0..$hIndex])
                #foreach($j in [0..$wIndex])
                    sum${blockId}[$i][$j] = 0.0;
                    #foreach($input in $inputs)
                        #set($inputSignal = $input.linkedLine.linkedOutputPort.outputSignalC)
                        sum${blockId}[$i][$j] += $inputSignalName[$i][$j];
                    #end
                    $opsName[$i][$j] = (sum${blockId}[$i][$j] == 0.0) ? 0.0 : 1.0;
                #end
            #end
        #elseif($operator == "NAND")
            double pro${blockId}[$height][$width];
            #foreach($i in [0..$hIndex])
                #foreach($j in [0..$wIndex])
                    pro${blockId}[$i][$j] = 1.0;
                    #foreach($input in $inputs)
                        #set($inputSignal = $input.linkedLine.linkedOutputPort.outputSignalC)
                        pro${blockId}[$i][$j] *= $inputSignalName[$i][$j];
                    #end
                    $opsName[$i][$j] = (pro${blockId}[$i][$j] == 0.0) ? 1.0 : 0.0;
                #end
            #end
        #elseif($operator == "NOR")
            double sum${blockId}[$height][$width];
            #foreach($i in [0..$hIndex])
                #foreach($j in [0..$wIndex])
                    sum${blockId}[$i][$j] = 0.0;
                    #foreach($input in $inputs)
                        #set($inputSignal = $input.linkedLine.linkedOutputPort.outputSignalC)
                        sum${blockId}[$i][$j] += $inputSignalName[$i][$j];
                    #end
                    $opsName[$i][$j] = (sum${blockId}[$i][$j] == 0.0) ? 1.0 : 0.0;
                #end
            #end
        #elseif($operator == "XOR")
            int sum${blockId}[$height][$width];
            #foreach($i in [0..$hIndex])
                #foreach($j in [0..$wIndex])
                    sum${blockId}[$i][$j] = 0;
                    #foreach($input in $inputs)
                        #set($inputSignal = $input.linkedLine.linkedOutputPort.outputSignalC)
                        if($inputSignalName[$i][$j] != 0.0) {
                            sum${blockId}[$i][$j] += 1;
                        }
                    #end
                    $opsName[$i][$j] = (sum${blockId}[$i][$j] % 2 == 0) ? 0.0 : 1.0;
                #end
            #end
        #elseif($operator == "NXOR")
            int sum${blockId}[$height][$width];
            #foreach($i in [0..$hIndex])
                #foreach($j in [0..$wIndex])
                    sum${blockId}[$i][$j] = 0;
                    #foreach($input in $inputs)
                        #set($inputSignal = $input.linkedLine.linkedOutputPort.outputSignalC)
                        if($inputSignalName[$i][$j] != 0.0) {
                            sum${blockId}[$i][$j] += 1;
                        }
                    #end
                    $opsName[$i][$j] = (sum${blockId}[$i][$j] % 2 == 0) ? 1.0 : 0.0;
                #end
            #end
        #elseif($operator == "NOT")
            #if($inputLength == 0)
                #set($inputSignal = $inputs.get(0).linkedLine.linkedOutputPort.outputSignalC)
                #foreach($i in [0..$hIndex])
                    #foreach($j in [0..$wIndex])
                        $opsName[$i][$j] = ($inputSignalName[$i][$j] == 0.0) ? 1.0 : 0.0;
                    #end
                #end
            #else
                #foreach($i in [0..$hIndex])
                    #foreach($j in [0..$wIndex])
                        $opsName[$i][$j] = 0.0; /* NOT operator requires exactly one input */
                    #end
                #end
            #end
        #else
            #foreach($i in [0..$hIndex])
                #foreach($j in [0..$wIndex])
                    $opsName[$i][$j] = 0.0; /* Unknown operator */
                #end
            #end
        #end
    #end
#else
    ## Fallback if parameters missing
    #if($opsName)
        $opsName = 0.0; /* LogicOperator block missing parameters */
    #end
#end
