/* Velocity Template for initialization of block ServoMotorSlider */



#if ($modelMode == $simulationMode)
    #foreach($state in $blockStateList)
        $stateName = 0;
    #end
#elseif ($modelMode == $compilationMode)
    char msg[255];
    hComm = Serialport_Open("/dev/ttyUSB0", 115200, msg);
#end