/* Velocity template for ServoMotorSlider output code */
#set($inputPort = $block.getInputPortVariable(0))
#set($outputPort = $blockOutputPortVariables.get(0))

#if ($modelMode == $compilationMode)
    initServoMotorSlider(&$hardwareDefineName);

    if (mp->majorStep > 0) {
        int bufLen = 1024;
        char recvBuff[bufLen] = {0};

        double da = $inputPort;
        da = da > 2.5 ? 2.5 : da;
        da = da < -2.5 ? -2.5 : da;

        if ((da > 0 && servodata1 > 80) || (da < 0 && servodata1 < -80)) {
            da = 0;
        }

        da += 2.5;
        printf("da=%f", da);
        DAC8532_Out_Voltage(channel_A, da);

        unsigned char cmd[] = {0x01, 0x04, 0x04, 0x00, 0x00, 0x02, 0x70, 0xFB};
        Serialport_Send(hComm, cmd, 8);
        int k = Serialport_Recv(hComm, (uint8_t*)recvBuff, sizeof(recvBuff));

        int16_t Read = (recvBuff[4] + (recvBuff[3] << 8));
        for (int i = 0; i < k; i++) {
            printf("%d=%d ", i, recvBuff[i]);
        }
        printf("\n");

        if ((Read > 0.5) || (Read < -0.5)) {
            $outputPort = (-0.0039 * Read);
            printf("out=%f", $outputPort);
            servodata = Read;
            servodata1 = (-0.0039 * Read);
        } else {
            $outputPort = (-0.0039 * servodata);
        }

        servodata1 = (-0.0039 * servodata);
    }
#elseif ($modelMode == $simulationMode)
    #if($blockStateList && $num)
    ## Initialize output to zero
    $outputPort = 0.0;
    ## Calculate output using numerator coefficients: y = num[0]*x1 + num[1]*x2 + num[2]*x3
    #foreach($state in $blockStateList)
    #if($foreach.index < $num.size())
    $outputPort += $state.getName() * $num.get($foreach.index);
    #end
    #end
    #end
#end
