/*Code for output of block Matrix:($blockId)$blockName*/
## Matrix block is a source block that outputs constant values
#if($scalar)
    ## Scalar output
    ${outputVar} = ${elements[0][0]};
#else
    ## Matrix output - assign each element
    #set($rowMax = $row - 1)
    #set($colMax = $column - 1)
    #foreach($i in [0..$rowMax])
        #foreach($j in [0..$colMax])
    ${outputVar}[$i][$j] = ${elements[$i][$j]};
        #end
    #end
#end