/*Code for Derivative of NewMotor:($blockId)$blockName*/
#if($modelMode == $simulationMode)
/* Motor speed dynamics - first order response */
double realInput = ${inputPortVariable};
/* Motor speed derivative: (K*input - speed) / T */
$speedStateDerivativeName = (${motorK} * realInput - $speedStateName) / ${motorT};
#else
/* Hardware mode - no continuous states */
#end