/*Code for output of block $blockType: ($blockId) $blockName*/
auto $modelVariableName_mat = ${inputSignal};

#if ${width} == 1
${outputSignal} = $modelVariableName->predict($modelVariableName_mat)(0);
#else
${outputSignal} = $modelVariableName->predict($modelVariableName_mat);
#end