/*Code for output of block CompareToConstant:($blockId)$blockName*/
#if($inputHeight == 1 && $inputWidth == 1)
    ## Scalar comparison
    if(${inputVar} ${RelationalOperatorValue} ${ConstantValueValue}) {
        ${outputVar} = 1.0;
    } else {
        ${outputVar} = 0.0;
    }
#else
    ## Matrix comparison - element-wise
    #set($hMax = $inputHeight - 1)
    #set($wMax = $inputWidth - 1)
    #foreach($i in [0..$hMax])
        #foreach($j in [0..$wMax])
    if(${inputVar}($i, $j) ${RelationalOperatorValue} ${ConstantValueValue}) {
        ${outputVar}($i, $j) = 1.0;
    } else {
        ${outputVar}($i, $j) = 0.0;
    }
        #end
    #end
#end