/* Code for initialization of block Relay:(${block.blockId}) ${block.blockName} */
${onSwitchValue.initCodeC}
${offSwitchValue.initCodeC}
${onOutputValue.initCodeC}
${offOutputValue.initCodeC}
#if($onSwitchValue.dataType == $realDataType && $xState.dataType == $realDataType)
${xState.getName()} = 0;
#else
#set($stateIndices = $block.calculateStateIndices($xState.height, $xState.width))
#foreach($index in $stateIndices)
    #set($i = $index / $xState.width)
    #set($j = $index % $xState.width)
    ${xState.getName()}(${i},${j}) = 0;
#end
#end