/*Code for output of block Relay:($blockId)$blockName*/
#if($signal && $onSwitchValue && $offSwitchValue && $onOutputValue && $offOutputValue && $xState && $outputs && $outputs.size() > 0)
    #set($inputVar = $signalName)
    #set($outputVar = $output1)
    #set($stateVar = $xStateName)
    
    #if($onSwitchValue.dataType == $realDataType)
        ## Scalar switch values
        #if($ops.outputSignalC.dataType == $realDataType)
            ## Scalar relay - hysteresis behavior
            if($inputVar > $onSwitchValueName) {
                $stateVar = $onOutputValueName;
            } else if($inputVar < $offSwitchValueName) {
                $stateVar = $offOutputValueName;
            }
            ## Output current state
            $outputVar = $stateVar;
        #else
            ## Scalar input to matrix output
            #if($optWidthIndex && $optHeightIndex)
                #foreach($i in [0..$optWidthIndex])
                    #foreach($j in [0..$optHeightIndex])
                        if($inputVar(${i},${j}) > $onSwitchValueName) {
                            $stateVar(${i},${j}) = $onOutputValueName;
                        } else if($inputVar(${i},${j}) < $offSwitchValueName) {
                            $stateVar(${i},${j}) = $offOutputValueName;
                        }
                        $outputVar(${i},${j}) = $stateVar(${i},${j});
                    #end
                #end
            #end
        #end
    #else
        ## Matrix switch values
        #if($ops.outputSignalC.dataType == $realDataType)
            ## Matrix input to scalar output - process each element
            #set($height = $onSwitchValue.height)
            #set($width = $onSwitchValue.width)
            #set($hMax = $height - 1)
            #set($wMax = $width - 1)
            #foreach($i in [0..$hMax])
                #foreach($j in [0..$wMax])
                    if($inputVar > $onSwitchValueName(${i},${j})) {
                        $stateVar(${i},${j}) = $onOutputValueName(${i},${j});
                    } else if($inputVar < $offSwitchValueName(${i},${j})) {
                        $stateVar(${i},${j}) = $offOutputValueName(${i},${j});
                    }
                    $outputVar(${i},${j}) = $stateVar(${i},${j});
                #end
            #end
        #else
            ## Matrix input to matrix output
            #if($optWidthIndex && $optHeightIndex)
                #foreach($i in [0..$optWidthIndex])
                    #foreach($j in [0..$optHeightIndex])
                        if($inputVar(${i},${j}) > $onSwitchValueName(${i},${j})) {
                            $stateVar(${i},${j}) = $onOutputValueName(${i},${j});
                        } else if($inputVar(${i},${j}) < $offSwitchValueName(${i},${j})) {
                            $stateVar(${i},${j}) = $offOutputValueName(${i},${j});
                        }
                        $outputVar(${i},${j}) = $stateVar(${i},${j});
                    #end
                #end
            #end
        #end
    #end
#else
    ## Fallback if parameters missing
    #if($outputs && $outputs.size() > 0)
        ${output1} = 0.0; /* Relay block missing parameters */
    #end
#end