/*Code for output of block Coulomb:($blockId)$blockName*/

#set($out = $outputPortList[0])
#set($outputSignal = $outputPortList[0].outputSignalC)

#if($offset.dataType == $realDataType)
    #if($ops.outputSignalC.dataType == $realDataType)
        if($signalName > 0) {
            $outputSignalName = 1 * ($gainName * fabs($signalName) + $offsetName);
        } else if($signalName < 0) {
            $outputSignalName = (-1) * ($gainName * fabs($signalName) + $offsetName);
        } else {
            $outputSignalName = 0;
        }
    #else
        #set($height = $opsHeight)
        #set($width = $opsWidth)
        #set($hMax = $height - 1)
        #set($wMax = $width - 1)
        
        #foreach($i in [0..$hMax])
            #foreach($j in [0..$wMax])
                if($signalName($i, $j) > 0) {
                    $outputSignalName($i, $j) = 1 * ($gainName * fabs($signalName($i, $j)) + $offsetName);
                } else if($signalName($i, $j) < 0) {
                    $outputSignalName($i, $j) = (-1) * ($gainName * fabs($signalName($i, $j)) + $offsetName);
                } else {
                    $outputSignalName($i, $j) = 0;
                }
            #end
        #end
    #end
#else
    #if($ops.outputSignalC.dataType == $realDataType)
        #set($height = $offsetHeight)
        #set($width = $offsetWidth)
        #set($hMax = $height - 1)
        #set($wMax = $width - 1)
        
        #foreach($i in [0..$hMax])
            #foreach($j in [0..$wMax])
                if($signalName > 0) {
                    $outputSignalName($i, $j) = 1 * ($gainName($i, $j) * fabs($signalName) + $offsetName($i, $j));
                } else if($signalName < 0) {
                    $outputSignalName($i, $j) = (-1) * ($gainName($i, $j) * fabs($signalName) + $offsetName($i, $j));
                } else {
                    $outputSignalName($i, $j) = 0;
                }
            #end
        #end
    #else
        #set($height = $offsetHeight)
        #set($width = $offsetWidth)
        #set($hMax = $height - 1)
        #set($wMax = $width - 1)
        
        #foreach($i in [0..$hMax])
            #foreach($j in [0..$wMax])
                if($signalName($i, $j) > 0) {
                    $outputSignalName($i, $j) = 1 * ($gainName($i, $j) * fabs($signalName($i, $j)) + $offsetName($i, $j));
                } else if($signalName($i, $j) < 0) {
                    $outputSignalName($i, $j) = (-1) * ($gainName($i, $j) * fabs($signalName($i, $j)) + $offsetName($i, $j));
                } else {
                    $outputSignalName($i, $j) = 0;
                }
            #end
        #end
    #end
#end