/*Code for Derivative of WaterLevel:(${block.blockId})${block.blockName}*/
#if ($modelMode == $simulationMode)
/* Simulation mode - WaterLevel system dynamics */
double pumpK = 1.0;
double pumpT = 2.0;
double waterLevelK = 0.1;
double waterLevelT = 50.0;

/* Pump dynamics: first-order lag */
#if ($blockStateList && $blockStateList.size() >= 2)
#set($pumpState = $blockStateList.get(0))
#set($levelState = $blockStateList.get(1))
#set($inputPort = $block.getInputPortVariable(0))
${pumpState.getDerivativeName()} = ( pumpK * ${inputPort} - ${pumpState.getName()} ) / pumpT;

/* Water level dynamics: first-order lag */
${levelState.getDerivativeName()} = ( waterLevelK * ${pumpState.getName()} - ${levelState.getName()} ) / waterLevelT;
#end
#else
/* Hardware mode - no continuous states */
#end