/* Velocity Template for initialization of block WaterLevel */



#if ($modelMode == $simulationMode)
    #foreach($state in $blockStateList)
        $stateName = 0;
    #end
#elseif ($modelMode == $compilationMode)
    char msg[255];
    int tmpHCommon1 = -1, tmpHCommon2 = -1;

    while ((tmpHCommon1 = Serialport_Open("/dev/ttyUSB0", 115200, msg)) < 0 && (tmpHCommon2 = Serialport_Open("/dev/ttyUSB1", 115200, msg)) < 0) {}
    HANDLE hComm = tmpHCommon1 > 0 ? tmpHCommon1 : tmpHCommon2;

    tcflush(hComm, TCIOFLUSH);
#end