/* Velocity Template for initialization of block InvertedPendulumSUST */
#set($blockId = $blockBlockId)
#set($blockName = $blockBlockName)

#if ($modelMode == $simulationMode)
    // Simulation mode - No hardware initialization needed
    // Mathematical model initialization would go here if needed
#elseif ($modelMode == $compilationMode)
    char msg[255];
    HANDLE hComm = Serialport_Open("/dev/ttyUSB0", 115200, msg);

    tcflush(hComm, TCIOFLUSH);
    char cmdInit[] = {"GZ200ENA\\r\\n"};
    Serialport_Send(hComm, (unsigned char*)cmdInit, strlen(cmdInit));
    usleep(3000);
#end