/* Velocity Template for initialization of block LoongarchPLC */
#set($blockId = $blockBlockId)
#set($blockName = $blockBlockName)

#if ($modelMode == $simulationMode)
    // Simulation mode - No hardware initialization needed
    // Mathematical model initialization would go here if needed
#elseif ($modelMode == $compilationMode)
    DEV_ModuleInit();
#end