## Variables now populated directly in Java context: $inputSignal, $Bcm
/*Code for output of block GPIO:($blockId)$blockName*/
#if($inputSignal && $Bcm)
    if(${inputSignal}) {
        digitalWrite(${Bcm}, HIGH);
    } else {
        digitalWrite(${Bcm}, LOW);
    }
#else
    ## Fallback if parameters missing
    /* GPIO parameters missing - using default BCM pin 18 */
    digitalWrite(18, LOW);
#end