/*Code for init of block 1-D Lookup table:($blockId)$blockName*/
init_interpolation_table_1d(&${tableName},${xDataLength},1);
#foreach($value in $xData)
insert_to_x_table1d(&${tableName},${foreach.index},${value});
#end
#foreach($value in $yData)
insert_to_y_table1d(&${tableName},${foreach.index},${value});
#end