/* PID控制器微分计算: ($block.getBlockId()) $block.getBlockName() */
#if($block.cparaP.dataType == $realDataType)
    #set($error = $inputs.get(0))
    ${stateIntegral.derivativeName} = ${block.cparaI.getName()} * $error;
    ${stateFilter.derivativeName} = ${block.cparaN.getName()} * (
        ${block.cparaD.getName()} * $error - ${stateFilter.getName()}
    );
#else
#if($block.cparaP.getHeight() && $block.cparaP.getWidth())
#set($pHeightIndex = ${block.cparaP.getHeight()} - 1)
    #foreach($i in [0..$pHeightIndex])
#set($pWidthIndex = ${block.cparaP.getWidth()} - 1)
        #foreach($j in [0..$pWidthIndex])
            ${stateIntegral.derivativeName}($i,$j) = ${block.cparaI.getName()}($i,$j) * $inputs.get(0)($i,$j);
            ${stateFilter.derivativeName}($i,$j) = ${block.cparaN.getName()}($i,$j) * (
                ${block.cparaD.getName()}($i,$j) * $inputs.get(0)($i,$j) - ${stateFilter.getName()}($i,$j)
            );
        #end
    #end
#end
#end