/* PID控制器微分计算: ($blockId) $blockName */
#if($proportionalGainDataType == $realDataType)
    #set($error = $inputSignal)
    $integralStateDerivativeName = $integralGainName * $error;
    $filterStateDerivativeName = $filterCoefficientName * (
        $derivativeGainName * $error - $filterStateName
    );
#else
#if($proportionalGainHeight && $proportionalGainWidth)
#set($pHeightIndex = $proportionalGainHeight - 1)
    #foreach($i in [0..$pHeightIndex])
#set($pWidthIndex = $proportionalGainWidth - 1)
        #foreach($j in [0..$pWidthIndex])
            $integralStateDerivativeName[$i][$j] = $integralGainName[$i][$j] * $inputSignal[$i][$j];
            $filterStateDerivativeName[$i][$j] = $filterCoefficientName[$i][$j] * (
                $derivativeGainName[$i][$j] * $inputSignal[$i][$j] - $filterStateName[$i][$j]
            );
        #end
    #end
#end
#end