/* PID控制器模块输出: ($block.getBlockId()) $block.getBlockName() */
#if($block.paramValues.get("P").dataType == $realDataType)
    #set($error = $inputs.get(0))
    ${outputs.get(0)} = ${block.paramValues.get("P").getName()} * $error 
                        + ${stateIntegral.getName()} 
                        + ${block.paramValues.get("D").getName()} * ${block.paramValues.get("N").getName()} 
                        * ($error - ${stateFilter.getName()});
#else
#set($pHeightIndex = ${block.paramValues.get("P").getHeight()} - 1)
    #foreach($i in [0..$pHeightIndex])
#set($pWidthIndex = ${block.paramValues.get("P").getWidth()} - 1)
        #foreach($j in [0..$pWidthIndex])
            ${outputs.get(0)}($i,$j) = ${block.paramValues.get("P").getName()}($i,$j) * $inputs.get(0)($i,$j)
                                      + ${stateIntegral.getName()}($i,$j)
                                      + ${block.paramValues.get("D").getName()}($i,$j) * ${block.paramValues.get("N").getName()}($i,$j)
                                      * ($inputs.get(0)($i,$j) - ${stateFilter.getName()}($i,$j));
        #end
    #end
#end