/* PID控制器模块输出: ($blockId) $blockName */
#if($proportionalGainDataType == $realDataType)
    #set($error = $inputSignal)
    $outputSignal = $proportionalGainName * $error 
                        + $integralStateName 
                        + $derivativeGainName * $filterCoefficientName 
                        * ($error - $filterStateName);
#else
#if($proportionalGainHeight && $proportionalGainWidth)
#set($pHeightIndex = $proportionalGainHeight - 1)
    #foreach($i in [0..$pHeightIndex])
#set($pWidthIndex = $proportionalGainWidth - 1)
        #foreach($j in [0..$pWidthIndex])
            $outputSignal($i,$j) = $proportionalGainName($i,$j) * $inputSignal($i,$j)
                                      + $integralStateName($i,$j)
                                      + $derivativeGainName($i,$j) * $filterCoefficientName($i,$j)
                                      * ($inputSignal($i,$j) - $filterStateName($i,$j));
        #end
    #end
#end
#end