/* Velocity Template for initialization of block HGGenerator */
{
	#foreach($state in $blockStateList)
    	$stateName = 0;
	#end
	
	${Omega0Object.initCodeC}
	${XdObject.initCodeC}
	${XqObject.initCodeC}
	${XddObject.initCodeC}
	${XdddObject.initCodeC}
	${XqqqObject.initCodeC}
	${X1Object.initCodeC}
	${Td0Object.initCodeC}
	${Td000Object.initCodeC}
	${Tq000Object.initCodeC}
	${HObject.initCodeC}
	${RObject.initCodeC}
	
	REAL xx;
	REAL LF;
	REAL LMD0;
	REAL LMQ0;
	
	$Xl=$X1;
	$ld=$X1;
	$lq=$X1;
	$lAD=$Xd-$X1;
	$lAQ=$Xq-$X1;
	$lF=$lAD*(($Xdd-$Xl)/($Xd-$Xdd));
	
	LF=$lF+$lAD;
	xx=$Xddd-$Xl;
	$lD=$lAD*$lF*(xx/($lAD*$lF-LF*xx));
	$lQ=$lAQ*(($Xqqq-$Xl)/($Xq-$Xqqq));
	
	$rF=($lF+$lAD)/($Omega0*$Td0);
	$rD=($lD+$Xdd-$Xl)/($Omega0*$Td000);
	$rQ=($lQ+$lAQ)/($Omega0*$Tq000);
	
	LMD0=1/$lAD+1/$lD+1/$ld+1/$lF;
	LMQ0=1/$lAQ+1/$lQ+1/$lq;
	$LMD=1/LMD0;
	$LMQ=1/LMQ0;
	
	/* Compute no-load steady-state flux linkage for typical Efd=1.0 pu.
	   This avoids large inrush current when a voltage source is suddenly applied. */
	REAL denom = $ld * $lD - $LMD * $lD - $LMD * $ld;
	REAL Efd_init = 1.0;
	if (denom > 1e-10 && $lAD > 1e-10 && $lF > 1e-10) {
		REAL a = $LMD * $ld * $lD / ($lF * denom);
		REAL Psid_init = a * Efd_init * $lF / $lAD / (1.0 - a);
		REAL Psif_init = Psid_init + Efd_init * $lF / $lAD;
		$Psid = Psid_init;
		$PsiD = Psid_init;
		$PsiF = Psif_init;
	} else {
		$Psid = 0;
		$PsiD = 0;
		$PsiF = 0;
	}
	$Psiq = 0;
	$PsiQ = 0;
	$Omega = 0;
	$Theta = 0;
}
