
## abc2dq0 transformation: 4 inputs (d, q, 0, theta), 3 outputs (a, b, c)
#set($in_d = $inputs.get(0))
#set($in_q = $inputs.get(1))
#set($in_0 = $inputs.get(2))
#set($in_theta = $inputs.get(3))
#set($out_a = $outputs.get(0))
#set($out_b = $outputs.get(1))
#set($out_c = $outputs.get(2))

if(model.majorStep == 1){
    #if($function == "Aligned with phase A axis")
    ${out_a} = (cos(${in_theta}) * ${in_d} - sin(${in_theta}) * ${in_q} + 1 * ${in_0});
    ${out_b} = (cos(${in_theta} - 2*M_PI/3.0) * ${in_d} - sin(${in_theta} - 2*M_PI/3.0) * ${in_q} + 1 * ${in_0});
    ${out_c} = (cos(${in_theta} + 2*M_PI/3.0) * ${in_d} - sin(${in_theta} + 2*M_PI/3.0) * ${in_q} + 1 * ${in_0});
    #elseif($function == "90 degrees behind phase A axis")
    ${out_a} = (sin(${in_theta}) * ${in_d} + cos(${in_theta}) * ${in_q} + 1 * ${in_0});
    ${out_b} = (sin(${in_theta} - 2*M_PI/3.0) * ${in_d} + cos(${in_theta} - 2*M_PI/3.0) * ${in_q} + 1 * ${in_0});
    ${out_c} = (sin(${in_theta} + 2*M_PI/3.0) * ${in_d} + cos(${in_theta} + 2*M_PI/3.0) * ${in_q} + 1 * ${in_0});
    #else
    ${out_a} = (cos(${in_theta}) * ${in_d} - sin(${in_theta}) * ${in_q} + 1 * ${in_0});
    ${out_b} = (cos(${in_theta} - 2*M_PI/3.0) * ${in_d} - sin(${in_theta} - 2*M_PI/3.0) * ${in_q} + 1 * ${in_0});
    ${out_c} = (cos(${in_theta} + 2*M_PI/3.0) * ${in_d} - sin(${in_theta} + 2*M_PI/3.0) * ${in_q} + 1 * ${in_0});
    #end
}