/* Code for initialization of block Saturation:(${block.blockId}) ${block.blockName} */
#if($lowerLimit && $lowerLimit.initCodeC)
${lowerLimit.initCodeC}
#end
#if($upperLimit && $upperLimit.initCodeC)
${upperLimit.initCodeC}
#end