/* Code for initialization of block Saturation:(${block.blockId}) ${block.blockName} */
#if($LowerLimitObject)
${LowerLimitObject.getInitCodeC()}#end
#if($UpperLimitObject)
${UpperLimitObject.getInitCodeC()}#end