/*Code for output of block Saturation:(${block.getBlockId()})${block.getBlockName()}*/
#if($inputPortList.size() > 0 && $upperLimit && $lowerLimit)
    #set($inputSignal = $inputPortList.get(0).getLinkedLine().getLinkedOutputPort().getOutputSignalC())
    #set($outputSignal = $outputPortList.get(0).getOutputSignalC())
    
    #if($inputSignal.dataType == $realDataType)
        ## Scalar input signal
        #if($outputSignal.dataType == $realDataType)
            ## Scalar to scalar saturation
            if(${inputSignal.getName()} > ${upperLimit.getName()}) {
                ${outputSignal.getName()} = ${upperLimit.getName()};
            } else if(${inputSignal.getName()} < ${lowerLimit.getName()}) {
                ${outputSignal.getName()} = ${lowerLimit.getName()};
            } else {
                ${outputSignal.getName()} = ${inputSignal.getName()};
            }
        #else
            ## Scalar to matrix - broadcast scalar to matrix
            #set($height = $outputSignal.getHeight())
            #set($width = $outputSignal.getWidth())
            #set($hMax = $height - 1)
            #set($wMax = $width - 1)
            #foreach($i in [0..$hMax])
                #foreach($j in [0..$wMax])
            if(${inputSignal.getName()} > ${upperLimit.getName()}) {
                ${outputSignal.getName()}(${i},${j}) = ${upperLimit.getName()};
            } else if(${inputSignal.getName()} < ${lowerLimit.getName()}) {
                ${outputSignal.getName()}(${i},${j}) = ${lowerLimit.getName()};
            } else {
                ${outputSignal.getName()}(${i},${j}) = ${inputSignal.getName()};
            }
                #end
            #end
        #end
    #else
        ## Matrix input signal
        #set($height = $inputSignal.getHeight())
        #set($width = $inputSignal.getWidth())
        #set($hMax = $height - 1)
        #set($wMax = $width - 1)
        #if($lowerLimit.dataType == $realDataType)
            ## Matrix input with scalar limits
            #foreach($i in [0..$hMax])
                #foreach($j in [0..$wMax])
            if(${inputSignal.getName()}(${i},${j}) > ${upperLimit.getName()}) {
                ${outputSignal.getName()}(${i},${j}) = ${upperLimit.getName()};
            } else if(${inputSignal.getName()}(${i},${j}) < ${lowerLimit.getName()}) {
                ${outputSignal.getName()}(${i},${j}) = ${lowerLimit.getName()};
            } else {
                ${outputSignal.getName()}(${i},${j}) = ${inputSignal.getName()}(${i},${j});
            }
                #end
            #end
        #else
            ## Matrix input with matrix limits
            #foreach($i in [0..$hMax])
                #foreach($j in [0..$wMax])
            if(${inputSignal.getName()}(${i},${j}) > ${upperLimit.getName()}(${i},${j})) {
                ${outputSignal.getName()}(${i},${j}) = ${upperLimit.getName()}(${i},${j});
            } else if(${inputSignal.getName()}(${i},${j}) < ${lowerLimit.getName()}(${i},${j})) {
                ${outputSignal.getName()}(${i},${j}) = ${lowerLimit.getName()}(${i},${j});
            } else {
                ${outputSignal.getName()}(${i},${j}) = ${inputSignal.getName()}(${i},${j});
            }
                #end
            #end
        #end
    #end
#else
    ## Fallback if parameters missing
    /* Saturation block ${block.getBlockId()} missing parameters, using pass-through */
    ${outputPortList.get(0).getOutputSignalC().getName()} = ${inputPortList.get(0).getLinkedLine().getLinkedOutputPort().getOutputSignalC().getName()};
#end
