
#if($inputVar && $outputVar && $upperLimitName && $lowerLimitName)
    ## Use standardized template variables for robust saturation logic
    #if($inputHeight == 1 && $inputWidth == 1)
        ## Scalar input signal
        #if($outputHeight == 1 && $outputWidth == 1)
            ## Scalar to scalar saturation
            if($inputVar > $upperLimitName) {
                $outputVar = $upperLimitName;
            } else if($inputVar < $lowerLimitName) {
                $outputVar = $lowerLimitName;
            } else {
                $outputVar = $inputVar;
            }
        #else
            ## Scalar to matrix - broadcast scalar to matrix
            #set($hMax = $outputHeight - 1)
            #set($wMax = $outputWidth - 1)
            #foreach($i in [0..$hMax])
                #foreach($j in [0..$wMax])
            ## Use array access syntax for C++
            if($inputVar > $upperLimitName) {
                ${outputVar}(${i}, ${j}) = $upperLimitName;
            } else if($inputVar < $lowerLimitName) {
                ${outputVar}(${i}, ${j}) = $lowerLimitName;
            } else {
                ${outputVar}(${i}, ${j}) = $inputVar;
            }
                #end
            #end
        #end
    #else
        ## Matrix input signal - element-wise saturation
        #set($hMax = $inputHeight - 1)
        #set($wMax = $inputWidth - 1)
        #foreach($i in [0..$hMax])
            #foreach($j in [0..$wMax])
        ## Use array access syntax for C++
        if(${inputVar}(${i}, ${j}) > $upperLimitName) {
            ${outputVar}(${i}, ${j}) = $upperLimitName;
        } else if(${inputVar}(${i}, ${j}) < $lowerLimitName) {
            ${outputVar}(${i}, ${j}) = $lowerLimitName;
        } else {
            ${outputVar}(${i}, ${j}) = ${inputVar}(${i}, ${j});
        }
            #end
        #end
    #end
#else
    ## Fallback if parameters missing
    /* Saturation block $blockId missing parameters, using pass-through */
    $outputVar = $inputVar;
#end