/*Code for initialization of block LogisticRegression:($blockId)$blockName*/
$inputFeaturesInitCodeC$outputFeaturesInitCodeC$learningRateInitCodeC$epochsInitCodeC$modelVariableInitCodeC$modelVariableName->trainModel("/home/square/ncslablink/ncslablink/src/main/java/com/ncslab/code/c/${datasetString}.csv", $epochsName, $learningRateName);