/*Define arrays for block Second-Order Filter:($blockId)$blockName*/
double Block$blockIdSecondOrderFilter_b[3]={0};
double Block$blockIdSecondOrderFilter_a[2]={0};
double Block$blockIdSecondOrderFilter_x[2]={0};
double Block$blockIdSecondOrderFilter_y[2]={0};