/*Code for initialization of block Second-Order Filter:($blockId)$blockName*/
$naturalFrequencyInitCodeC
$dampingRatioInitCodeC
$sampleTimeInitCodeC
#if ("${initState}" == "on")
$DCInitialInputInitCodeC
#end

#if ("${sampleTimeValue}" == "0" || "${sampleTimeValue}" == "-1")
double T=STEP_SIZE;
#else
double T=$sampleTimeName;
#end

double omega_n = 2 * 3.14159265358979323846 * $naturalFrequencyName;
double w2T2 = omega_n*omega_n*T*T;
double a0 = 4 + 4 * $dampingRatioName*omega_n*T + w2T2;
Block$blockIdSecondOrderFilter_a[0]=(-8 + 2 * w2T2) / a0;
Block$blockIdSecondOrderFilter_a[1]=(4 - 4 * $dampingRatioName*omega_n*T + w2T2) / a0;

#if ("${filterTypeValue}" == "Lowpass")
Block$blockIdSecondOrderFilter_b[0]=(w2T2) / a0;
Block$blockIdSecondOrderFilter_b[1]=(2 * w2T2) / a0;
Block$blockIdSecondOrderFilter_b[2]=(w2T2) / a0;
#elseif ("${filterTypeValue}" == "Highpass")
Block$blockIdSecondOrderFilter_b[0]=(4) / a0;
Block$blockIdSecondOrderFilter_b[1]=(-8) / a0;
Block$blockIdSecondOrderFilter_b[2]=(4) / a0;
#elseif ("${filterTypeValue}" == "Bandpass")
Block$blockIdSecondOrderFilter_b[0]=(4 * omega_n * T * $dampingRatioName) / a0;
Block$blockIdSecondOrderFilter_b[1]= 0;
Block$blockIdSecondOrderFilter_b[2]=(-4 * omega_n * T *$dampingRatioName) / a0;
#else
Block$blockIdSecondOrderFilter_b[0]=(4 * omega_n * T * $dampingRatioName) / a0;
Block$blockIdSecondOrderFilter_b[1]= 0;
Block$blockIdSecondOrderFilter_b[2]=(-4 * omega_n * T *$dampingRatioName) / a0;
#end

#if ("${initState}" == "on")
double initialAC=${ACInitialInputs[0]}*sin(2*3.14159265358979323846*${ACInitialInputs[2]}/360.0*T+${ACInitialInputs[1]}*2*3.14159265358979323846/360);
Block$blockIdSecondOrderFilter_y[0]=initialAC+$DCInitialInputName;
Block$blockIdSecondOrderFilter_y[1]=initialAC+$DCInitialInputName;
#end