
if(mp->majorStep>0) {
{real_T currentTime = model.time;
real_T sampleTimeTmp = $sampleTimeName==-1?model.stepSize:$sampleTimeName;
sampleTimeTmp = sampleTimeTmp ==0?model.stepSize:sampleTimeTmp;
if(fabs(floor(currentTime/sampleTimeTmp+0.5)-currentTime/sampleTimeTmp)<0.000001) {

${outputFilter}=Block$blockIdSecondOrderFilter_b[0]*${inputData}+Block$blockIdSecondOrderFilter_b[1]*Block$blockIdSecondOrderFilter_x[0]+Block$blockIdSecondOrderFilter_b[2]*Block$blockIdSecondOrderFilter_x[1]-Block$blockIdSecondOrderFilter_a[0]*Block$blockIdSecondOrderFilter_y[0]-Block$blockIdSecondOrderFilter_a[1]*Block$blockIdSecondOrderFilter_y[1];
Block$blockIdSecondOrderFilter_x[1]=Block$blockIdSecondOrderFilter_x[0];
Block$blockIdSecondOrderFilter_x[0]=${inputData};
Block$blockIdSecondOrderFilter_y[1]=Block$blockIdSecondOrderFilter_y[0];
Block$blockIdSecondOrderFilter_y[0]=${outputFilter};
}
}
}