/*Code for initialization of block CNN:($blockId)$blockName*/
$inputFeaturesInitCodeC
$activationFunctionInitCodeC
$learningRateInitCodeC
$lossFunctionInitCodeC
$channelSizeInitCodeC
$datasetInitCodeC
$modelVariableInitCodeC

$modelVariableName->trainModel("/home/square/ncslablink/ncslablink/src/main/java/com/ncslab/code/c/winddata1.csv", 100, 0.01);