/*Code for output of block CNN:(${block.getBlockId()})${block.getBlockName()}*/
std::vector<double> ${modelVariable.getName()}_v = {1.0,2.0,3.0};
${outputSignal} = ${modelVariable.getName()}->predict(${modelVariable.getName()}_v)[0];