
#if($inputs && $inputs.size() > 0 && $inputHeights && $inputWidths && $inputDataTypes)
    #set($outputIdx = 0)
    #set($outputVar = $output1)

    #foreach($inputVar in $inputs)
        #set($idx = $foreach.index)
        #set($inputHeight = $inputHeights.get($idx))
        #set($inputWidth = $inputWidths.get($idx))
        #set($inputDataType = $inputDataTypes.get($idx))

        #if($inputDataType == $realDataType)
            ## Scalar input - place directly in output vector using Eigen indexing
            ${outputVar}(${outputIdx}, 0) = ${inputVar};
            #set($outputIdx = $outputIdx + 1)
        #elseif($inputHeight == 1 && $inputWidth > 1)
            ## Row vector input - concatenate columns using Eigen indexing
            #set($widthMax = $inputWidth - 1)
            #foreach($j in [0..$widthMax])
            ${outputVar}(${outputIdx}, 0) = ${inputVar}(0, ${j});
            #set($outputIdx = $outputIdx + 1)
            #end
        #elseif($inputWidth == 1 && $inputHeight > 1)
            ## Column vector input - concatenate rows using Eigen indexing
            #set($heightMax = $inputHeight - 1)
            #foreach($i in [0..$heightMax])
            ${outputVar}(${outputIdx}, 0) = ${inputVar}(${i}, 0);
            #set($outputIdx = $outputIdx + 1)
            #end
        #else
            ## General matrix input - concatenate in row-major order using Eigen indexing
            #set($heightMax = $inputHeight - 1)
            #set($widthMax = $inputWidth - 1)
            #foreach($i in [0..$heightMax])
                #foreach($j in [0..$widthMax])
            ${outputVar}(${outputIdx}, 0) = ${inputVar}(${i}, ${j});
                #set($outputIdx = $outputIdx + 1)
                #end
            #end
        #end
    #end
#else
    ## No inputs or missing dimension data - shouldn't happen but handle gracefully
    /* Warning: Mux block $blockId has no inputs or missing dimension data */
#end
