/*Code for initialization of block MLTest:($blockId)$blockName*/
## Generate init code for parameters
$inputFeaturesInitCodeC$outputFeaturesInitCodeC$learningRateInitCodeC$discountFactorInitCodeC## Generate init code for the model (must be after parameters)
$modelVariableInitCodeC## Load model if path specified
#if($loadPath && !$loadPath.equals("None"))
$modelVariableName->loadModel("${loadPath}");
#end