/*Code for output of block Step:($blockId)$blockName*/
#if($time && $before && $after)
    #if($time.dataType == $realDataType)
        ## Scalar step function
        if(model.time < ${timeName}) {
            ${output1} = ${beforeName};
        } else {
            ${output1} = ${afterName};
        }
    #else
        ## Matrix step function
        #set($height = $time.height)
        #set($width = $time.width)
        #set($hMax = $height - 1)
        #set($wMax = $width - 1)
        #foreach($i in [0..$hMax])
            #foreach($j in [0..$wMax])
        if(model.time < ${timeName}(${i},${j})) {
            ${output1}(${i},${j}) = ${beforeName}(${i},${j});
        } else {
            ${output1}(${i},${j}) = ${afterName}(${i},${j});
        }
            #end
        #end
    #end
#else
    ## Fallback with default step behavior
    if(model.time < 1.0) {
        ${output1} = 0.0;
    } else {
        ${output1} = 1.0;
    }
#end