/*Code for output of block Step:($blockId)$blockName*/
#if($TimeHeight == 1 && $TimeWidth == 1)
    ## Scalar step function
    if(model.time < ${Time}) {
        ${outputVar} = ${InitialValue};
    } else {
        ${outputVar} = ${FinalValue};
    }
#else
    ## Matrix step function
    #foreach($i in [0..$hMax])
        #foreach($j in [0..$wMax])
    if(model.time < ${Time}($i, $j)) {
        ${outputVar}($i, $j) = ${InitialValue}($i, $j);
    } else {
        ${outputVar}($i, $j) = ${FinalValue}($i, $j);
    }
        #end
    #end
#end