/*Code for initialization of block Matplotlib:($blockId)$blockName*/
#if($scopeStruct)
## Currently no specific initialization code needed - placeholders for future expansion
## $scopeStructName.cursor=0;
## $scopeStructName.isFull=0;
#end