## S-Function 输出计算模板
#if(${block.numDiscState} > 0)
    if(block${block.blockId}.discreteTime <= mp->time || block${block.blockId}.discreteTime - mp->time < 0.0000001) {
        (*${block.simStructName}->outputs)(${block.simStructName}, 0);
    }
#else
    (*${block.simStructName}->outputs)(${block.simStructName}, 0);
#end