/*Code for output of ${name}:($blockId)$blockName*/
#if($numDiscState > 0)
if(block$blockId.discreteTime<=mp->time||block$blockId.discreteTime-mp->time<0.0000001{;
(*${simStructName}->outputs)(${simStructName},0);
}
#else
(*${simStructName}->outputs)(${simStructName},0);
#end