/*Code for output of ${name}:(${block.getBlockId()})${block.getBlockName()}*/
#if($numDiscState > 0)
if(block${block.getBlockId()}.discreteTime<=mp->time||block${block.getBlockId()}.discreteTime-mp->time<0.0000001{;
(*${simStructName}->outputs)(${simStructName},0);
}
#else
(*${simStructName}->outputs)(${simStructName},0);
#end