/*Code for initialization of block UDPSendBak:($blockId)$blockName*/
sockfd_netsend$blockId = socket(AF_INET, SOCK_DGRAM,0);
if(sockfd_netsend$blockId==-1){printf("can not create socket\n"); close(sockfd_netsend$blockId);}
adr_serv_netsend$blockId.sin_family = AF_INET;
adr_serv_netsend$blockId.sin_port =htons(${remoteIPPort});
adr_serv_netsend$blockId.sin_addr.s_addr=inet_addr("${remoteIPAddress}");
int ret =connect(sockfd_netsend$blockId,(struct sockaddr*)&adr_serv_netsend$blockId,sizeof(adr_serv_netsend$blockId));
if(0>ret){printf("connect error\n");close(sockfd_netsend$blockId);}