/*Define arrays for block VariableTransportDelay:(${blockId})${blockName}*/
int VariableTransportDelay${blockId}BuffSize = ($MaximumDelayTimeValue/STEP_SIZE+1 > $InitialBufferSizeValue) ? ((int)($MaximumDelayTimeValue/STEP_SIZE+1)) : $InitialBufferSizeValue;
double *Block${blockId}VariableTransportDelay_saveData;
double *Block${blockId}VariableTransport_Ti_saveData;
int ${block.getCurrentIndexName()} = 0;
