/* 可变传输延迟模块输出: ($blockId) $blockName */
#set($delayTime = $block.getDelayTimeExpression())
#set($bufferIndex = $currentIndexName)

/* 查找最近的时间点 */
#set($foundIndex = -1)
#foreach($i in $block.calculateBufferIndices($bufferSize))
    #set($timeDiff = $model.time - ${block.getTimeBufferName($i)})
    #if($timeDiff >= $delayTime && $timeDiff >= 0)
        #set($foundIndex = $i)
        #break
    #end
#end

/* 线性插值计算 */
#if($foundIndex != -1)
    #set($prevIndex = ($foundIndex + 1) % $bufferSize)
    #set($t1 = ${block.getTimeBufferName($foundIndex)})
    #set($t2 = ${block.getTimeBufferName($prevIndex)})
    #set($u1 = ${block.getInputBufferName($foundIndex)})
    #set($u2 = ${block.getInputBufferName($prevIndex)})
    
    $outputSignal = $u1 + (($delayTime - ($model.time - $t1)) * ($u2 - $u1)) / ($t2 - $t1);
#else
    $outputSignal = 0; /* 未找到有效数据 */
#end