
#set($signal = $inputs.get(0))
#set($signal2 = $inputs.get(1))
#set($output = $outputs.get(0))
/* Add current data to circular buffer */
Block${blockId}VariableTransportDelay_saveData[${block.getCurrentIndexName()}] = ${signal};
Block${blockId}VariableTransport_Ti_saveData[${block.getCurrentIndexName()}] = model.time;
${block.getCurrentIndexName()} = (${block.getCurrentIndexName()} + 1) % VariableTransportDelay${blockId}BuffSize;

/* Calculate delayed output using linear interpolation */
double Block${blockId}_target_time = model.time - ${signal2};
double Block${blockId}_delayed_value = ${InitialOutput};

/* Find the two closest time points for interpolation */
int Block${blockId}_found = 0;
for(int i = 0; i < VariableTransportDelay${blockId}BuffSize - 1; i++) {
    int idx1 = (${block.getCurrentIndexName()} + VariableTransportDelay${blockId}BuffSize - 1 - i) % VariableTransportDelay${blockId}BuffSize;
    int idx2 = (${block.getCurrentIndexName()} + VariableTransportDelay${blockId}BuffSize - 2 - i) % VariableTransportDelay${blockId}BuffSize;

    double t1 = Block${blockId}VariableTransport_Ti_saveData[idx1];
    double t2 = Block${blockId}VariableTransport_Ti_saveData[idx2];

    /* Check if target time is between these two points */
    if(t2 >= 0 && Block${blockId}_target_time >= t2 && Block${blockId}_target_time <= t1) {
        double u1 = Block${blockId}VariableTransportDelay_saveData[idx1];
        double u2 = Block${blockId}VariableTransportDelay_saveData[idx2];

        /* Linear interpolation */
        if(fabs(t1 - t2) > 1e-10) {
            double alpha = (Block${blockId}_target_time - t2) / (t1 - t2);
            Block${blockId}_delayed_value = u2 + alpha * (u1 - u2);
        } else {
            Block${blockId}_delayed_value = u1;
        }
        Block${blockId}_found = 1;
        break;
    }
}

/* If no valid data found, use initial output */
if(!Block${blockId}_found || Block${blockId}_target_time < 0) {
    Block${blockId}_delayed_value = ${InitialOutput};
}

${output} = Block${blockId}_delayed_value;
