/* 更新可变传输延迟缓冲区：$blockId $blockName */
${block.getInputBufferName($currentIndexName)} = $inputSignal;
${block.getTimeBufferName($currentIndexName)} = $currentTimeName;
${block.getCurrentIndexName()} = (${block.getCurrentIndexName()} + 1) % $bufferSize;