/*Code for initialization of block EtherCAT_DI:($blockId)$blockName*/
if(ECAT_init_Flag==0){
    auto* ethercat = EtherCAT::getInstance();
    ethercat->setSamplingPeriod(${sampleTime});
    if (!ethercat->init($blockName_interface)) {
        printf("Failed to initialize EtherCAT\n");
        exit(1);
    } else {
        printf("EtherCAT initialized successfully\n");
    }
    ECAT_init_Flag=1;
}
DigitalIOManager::createDigitalInput(${slaveId}, ${channel});
auto* digitalInput = DigitalIOManager::getDigitalInput(${slaveId}, ${channel});
if (!digitalInput || !digitalInput->init()) {
    printf("Failed to initialize EtherCAT Digital Input\n");
    exit(1);
} else {
    printf("EtherCAT Digital Input initialized successfully\n");
}