#set( $block = $context.get("block") )
#set( $out = $blockOutputPortList.get(0) )
#set( $ops = $blockInputPortList.get(0).getLinkedLine().getLinkedOutputPort() )

/* Output code for block Diode */
if(${opsOutputSignalC.getName()} > ${vf}) {
    ${outOutputSignalC.getName()} = (${opsOutputSignalC.getName()} - ${vf}) / ${ron};
}
else if(${opsOutputSignalC.getName()} > 0) {
    ${outOutputSignalC.getName()} = 0;
}
else {
    ${outOutputSignalC.getName()} = ${opsOutputSignalC.getName()} * ${goff};
}