/*Code for Derivative of ${name}:($blockId)$blockName*/
#if($modelMode == $simulationMode)
double ${realInput} = 0.0;
if(${inputVar}>${inputMax})
	${realInput}=${inputMax};
else if(${inputVar}<${inputMin})
	${realInput}=${inputMin};
else
	${realInput}=${inputVar};
$speedStateDerivativeName=(4*${realInput}*${motorK}-$speedStateName)*(1/$motorT);
$angleStateDerivativeName=$speedStateName;
#end
