/*Code for Derivative of ${name}:($blockId)$blockName*/
#if($modelMode == $simulationMode)
double ${realInput} = 0.0;
if(${inputPortVariable}>${inputMax})
	${realInput}=${inputMax};
else if(${inputPortVariable}<${inputMin})
	${realInput}=${inputMin};
else
	${realInput}=${inputPortVariable};
$speedStateDerivativeName=(4*${realInput}*${motorK}-$speedStateName)*(1/$motorT);
$angleStateDerivativeName=$speedStateName;
#end
