/* Velocity Template for initialization of block DCMotorAngle */
#set($blockId = $blockBlockId)
#set($blockName = $blockBlockName)

#if ($modelMode == $simulationMode)
    #foreach($state in $blockStateList)
        $stateName = 0;
    #end
#elseif ($modelMode == $compilationMode)
    char msg[255];
    HANDLE hComm = Serialport_Open("/dev/ttyUSB0", 115200, msg);
    HANDLE hComm1 = Serialport_Open("/dev/ttyUSB1", 115200, msg);
#end