/*Code for Derivative of SecondOrderRotaryInvertedPendulum:(${block.blockId})${block.blockName}*/
#if ($modelMode == $simulationMode)
/* Simulation mode - SecondOrderRotaryInvertedPendulum (R2IP) simulation */
/* SerialPortState represents communication state - simple first-order lag */
double commTimeConstant = 0.1;
${block.getDerivativeVariable(0)} = (${inputVar} - ${block.getStateVariable(0)}) / commTimeConstant;
#else
/* Hardware mode - communication state tracks input */
${block.getDerivativeVariable(0)} = ${inputVar} - ${block.getStateVariable(0)};
#end