#set($input = $inputPortList.get(0).getLinkedLine().getLinkedOutputPort().getOutputSignalC())
#set($output = $outputPortList.get(0).getOutputSignalC())

/* Code for output of MatrixSquare: ($block.getBlockId())$block.getBlockName() */
$output.setName($input.getName().multiply($input.getName().transpose()))