/*Code for Derivative of InvertedPendulum:($blockId)$blockName*/
#if ($modelMode == $simulationMode)
/* Simulation mode - InvertedPendulum (L1IP) simulation */
/* SerialPortState represents communication state - simple first-order lag */
double commTimeConstant = 0.1;
#if($stateVariables && $stateVariables.size() > 0)
$stateVariables.get(0)_derivative = ($inputVar - $stateVariables.get(0)) / commTimeConstant;
#else
${blockName}_State_derivative = ($inputVar - ${blockName}_State) / commTimeConstant;
#end
#else
/* Hardware mode - communication state tracks input */
#if($stateVariables && $stateVariables.size() > 0)
$stateVariables.get(0)_derivative = $inputVar - $stateVariables.get(0);
#else
${blockName}_State_derivative = $inputVar - ${blockName}_State;
#end
#end