/* Array declarations for RepeatingSequence block:($blockId) $blockName */
#if($TimeValuesObject && $TimeValuesObject.width > 1)
    #set($arraySize = $TimeValuesObject.width - 1)
    double Block${blockId}_savedata[$arraySize];
    double Block${blockId}_savedata1[$arraySize];
    double Block${blockId}_savedata2 = 0;
#end