/* 初始化模板 - RepeatingSequence */
${rep_seq_tInitCodeC}
${rep_seq_yInitCodeC}
#set($reqSeqTWidthMax=${rep_seq_t.width} - 2)
#foreach($i in [0..$reqSeqTWidthMax])
Block$block.Id_savedata[$i] = (${rep_seq_yName}(0,$i+1) - ${rep_seq_yName}(0,$i)) / (${rep_seq_tName}(0,$i+1) - ${rep_seq_tName}(0,$i));
Block$block.Id_savedata1[$i] = (${rep_seq_tName}(0,$i+1) - ${rep_seq_tName}(0,$i));
#end
