
signal${blockId}_Out${number}.vp=&$signal.name;
signal${blockId}_Out${number}.width=$signal.width;
signal${blockId}_Out${number}.height=$signal.height;
signal${blockId}_Out${number}.name=(char *)"$name";
signal${blockId}_Out${number}.path=(char *)"$blockPath/$blockName/$name";
#if($signal.dataType == $realDataType)
signal${blockId}_Out${number}.type=SINGLE;
#else
signal${blockId}_Out${number}.type=MATRIX;
#end
