/*Code for initialization of block LinearRegression:(${block.getBlockId()})${block.getBlockName()}*/
${inputFeatures.getInitCodeC()}${outputFeatures.getInitCodeC()}${learningRate.getInitCodeC()}${epochs.getInitCodeC()}${modelVariable.getInitCodeC()}#if($loadPath && !$loadPath.equals("None"))
${modelVariable.getName()}->loadModel("${loadPath}");
#end
#if($datasetString && !$datasetString.equals("None"))
${modelVariable.getName()}->trainModel("${datasetString}", int(${epochs.getName()}), ${learningRate.getName()});
#end