/*Code for initialization of block LinearRegression:($blockId)$blockName*/
$inputFeaturesInitCodeC$outputFeaturesInitCodeC$learningRateInitCodeC$epochsInitCodeC$modelVariableInitCodeC#if($loadPath && !$loadPath.equals("None"))
$modelVariableName->loadModel("${loadPath}");
#end
#if($datasetString && !$datasetString.equals("None"))
$modelVariableName->trainModel("${datasetString}", int($epochsName), $learningRateName);
#end