#set($inputSignal = $block.getInputPortVariable(0))
#set($outputFanSpeed = $blockOutputPortVariables.get(0))
#set($outputPosition = $blockOutputPortVariables.get(1))

#if ($modelMode == $simulationMode)
#foreach($state in $states)
#set($numIndex = $den.size() - $foreach.index - 1)
#set($output = $outputFanSpeed + " += " + $stateName + " * " + $num[$numIndex] + ";")
#end
#elseif ($modelMode == $compilationMode)
#set($hardwareDefineName = "Block" + $blockBlockId + "_Alp")
$hardwareDefineName.alpPWM = 2600 * $inputSignal;
$hardwareDefineName.alpPWM = $hardwareDefineName.alpPWM > 2400.0 ? 2400.0 : $hardwareDefineName.alpPWM;
$hardwareDefineName.alpPWM = $hardwareDefineName.alpPWM < 0 ? 0 : $hardwareDefineName.alpPWM;

outputAlp(&$hardwareDefineName);
$outputFanSpeed = 2.0 * $hardwareDefineName.fanspeed_output;
$outputPosition = calalpoutput(635 - 19.0114 * $hardwareDefineName.position);
#end