/*Code for output of block SumOfElements:($blockId)$blockName*/
## SumOfElements: sum/subtract elements based on sequence parameter
#if($inputHeight == 1 && $inputWidth == 1)
    ## Scalar input
    #if($sequence.length() == 1)
    ${outputVar} = ${inputVar};
    #else
    ${outputVar} = 0;
        #set($iMax = $sequence.length() - 1)
        #foreach($i in [0..$iMax])
    ${outputVar} $sequence.charAt($i)= ${inputVar};
        #end
    #end
#else
    ## Matrix input
    #if($allDimensions)
        ## Element-wise sum over all dimensions
    ${outputVar} = 0;
        #set($mMax = $inputHeight - 1)
        #set($nMax = $inputWidth - 1)
        #foreach($m in [0..$mMax])
            #foreach($n in [0..$nMax])
    ${outputVar}[$m][$n] = 0;
                #set($iMax = $sequence.length()-1)
                #foreach($i in [0..$iMax])
    ${outputVar}[$m][$n] $sequence.charAt($i)= ${inputVar}[$m][$n];
                #end
            #end
        #end
    #else
        ## Sum along specific dimension
        #if($dimension == 2)
            ## Sum along columns (output is row vector)
            #set($mMax = $inputWidth - 1)
            #foreach($m in [0..$mMax])
    ${outputVar}[0][$m] = 0;
                #set($nMax = $inputHeight - 1)
                #foreach($n in [0..$nMax])
    ${outputVar}[0][$m] += ${inputVar}[$n][$m];
                #end
            #end
        #else
            ## Sum along rows (output is column vector)
            #set($mMax = $inputHeight - 1)
            #foreach($m in [0..$mMax])
    ${outputVar}[$m][0] = 0;
                #set($nMax = $inputWidth - 1)
                #foreach($n in [0..$nMax])
    ${outputVar}[$m][0] += ${inputVar}[$m][$n];
                #end
            #end
        #end
    #end
#end
