
#set($outputPortList = $outputPortList.get(0))




/* Code for SumOfElements block $blockId */
#if($inputPortList.size() > 0 && $inputPortList.get(0).getLinkedLine().getLinkedOutputPort().getOutputSignalC().dataType == $realDataType)
    #if($sequence.length() == 1)
        $outputSignal = $inputSignal;
    #else
        $outputSignal = 0;
        #set($iMax = $sequence.length() - 1)
        #foreach($i in [0..$iMax])
            $outputSignal $sequence.charAt($i)= $inputSignal;
        #end
    #end
#elseif($inputPortList.size() > 0 && $inputPortList.get(0).getLinkedLine().getLinkedOutputPort().getOutputSignalC().dataType == $matrixDataType)
    #if($allDimensions)
        #set($height = $signalHeight)
        #set($width = $signalWidth)
        $outputSignal = 0;
        #set($mMax = $height - 1)
        #set($nMax = $width - 1)
        #foreach($m in [0..$mMax])
            #foreach($n in [0..$nMax])
                $outputSignal[$m][$n] = 0;
                $set($iMax = $sequence.length()-1)
                #foreach($i in [0..$iMax])
                    $outputSignal[$m][$n] $sequence.charAt($i)= $inputSignal[$m][$n];
                #end
            #end
        #end
    #else
        #if($dimension == 2)
            #set($width = $signalWidth)
            #set($mMax = $width - 1)
            #foreach($m in [0..$mMax])
                $outputSignal[0][$m] = 0;
                #set($nMax = $signalHeight - 1)
                #foreach($n in [0..$nMax])
                    $outputSignal[0][$m] += $inputSignal[$n][$m];
                #end
            #end
        #else
            #set($height = $signalHeight)
            #set($mMax = $height - 1)
            #foreach($m in [0..$mMax])
                $outputSignal[$m][0] = 0;
                $set($nMax = $signalWidth - 1)
                #foreach($n in [0..$nMax])
                    $outputSignal[$m][0] += $inputSignal[$m][$n];
                #end
            #end
        #end
    #end
#end
