/*Code for Derivative of DoubleTank:($blockId)$blockName*/
#if ($modelMode == $simulationMode)
/* Simulation mode - DoubleTank differential equations */
double pumpK = 1.0;
double pumpT = 2.0;
double waterLevelK = 0.1;
double waterLevelT = 50.0;

/* Pump dynamics: first-order lag */
#if($stateVariables && $stateVariables.size() > 0)
$stateVariables.get(0)_derivative = (pumpK * $inputVar - $stateVariables.get(0)) / pumpT;
#else
${stateX0Name}_derivative = (pumpK * $inputVar - ${stateX0Name}) / pumpT;
#end

/* Water level dynamics: first-order lag */
#if($stateVariables && $stateVariables.size() > 1)
$stateVariables.get(1)_derivative = (waterLevelK * $stateVariables.get(0) - $stateVariables.get(1)) / waterLevelT;
#else
${stateX1Name}_derivative = (waterLevelK * ${stateX0Name} - ${stateX1Name}) / waterLevelT;
#end
#else
/* Hardware mode - minimal dynamics */
#if($stateVariables && $stateVariables.size() > 0)
$stateVariables.get(0)_derivative = $inputVar - $stateVariables.get(0);
#if($stateVariables.size() > 1)
$stateVariables.get(1)_derivative = $stateVariables.get(0) - $stateVariables.get(1);
#end
#else
${stateX0Name}_derivative = $inputVar - ${stateX0Name};
${stateX1Name}_derivative = ${stateX0Name} - ${stateX1Name};
#end
#end