#set($DataType = $DataType)
#if($inputSignalObject.getDataType() == $DataType.REAL)
if ${inputSignalObject.getName()}>0
${outputSignalObject.getName()}=1.0;
elseif ${inputSignalObject.getName()}==0
${outputSignalObject.getName()}=0;
else
${outputSignalObject.getName()}=-1.0;
end
#elseif($inputSignalObject.getDataType() == $DataType.MATRIX)
#foreach($i in [1..$inputHeight])
#foreach($j in [1..$inputWidth])
if ${inputSignalObject.getName()}($i,$j)>0
${outputSignalObject.getName()}($i,$j)=1.0;
elseif ${inputSignalObject.getName()}($i,$j)==0
${outputSignalObject.getName()}($i,$j)=0;
else
${outputSignalObject.getName()}($i,$j)=-1.0;
end
#end
#end
#end