#set($inputSignal = $inputPortList.get(0).getLinkedLine().getLinkedOutputPort().getOutputSignalC().getName())
#set($outputSignal = $outputPortList.get(0).getOutputSignalC().getName())
#set($biasValue = $bias.getName())

/* Code for Bias block $blockId */
$outputSignal = $inputSignal + $biasValue;
