/*Code for output of block Bias:($blockId)$blockName*/
#if($inputHeight == 1 && $inputWidth == 1)
    ## Scalar bias: output = input + bias
    $outputVar = $inputVar + $BiasValue;
#else
    ## Matrix bias: element-wise addition  
    #set($hMax = $inputHeight - 1)
    #set($wMax = $inputWidth - 1)
    #foreach($i in [0..$hMax])
        #foreach($j in [0..$wMax])
        ${outputVar}[$i][$j] = ${inputVar}[$i][$j] + $BiasValue;
        #end
    #end
#end
