/*Code for Derivative of PID Controller:(${blockId})${blockName}*/
{real_T currentTime = model.time;
if(fabs(floor(currentTime/${sampleTime.name}+0.5)-currentTime/${sampleTime.name})<0.000001) {
#if($inputSignal.dataType == $realDataType && $proportionalGainDataType == $realDataType)
  $integralStateDerivativeName=Block${blockId}save_data[2];
  $filterStateDerivativeName=Block${blockId}save_data[3];
#else
  #set($stateIntegralHeightMax = $stateIntegral.height - 1)
  #set($stateIntegralWidthMax = $stateIntegral.width - 1)
  #foreach($i in [0..$stateIntegralHeightMax])
    #foreach($j in [0..$stateIntegralWidthMax])
      $integralStateDerivativeName($i,$j)=Block${blockId}save_data[${i}][${j}*5+2];
      $filterStateDerivativeName($i,$j)=Block${blockId}save_data[${i}][${j}*5+3];
    #end
  #end
#end
}}