/*Code for output of block PID Controller:(${blockId})${blockName}*/
{real_T currentTime = model.time;
if(fabs(floor(currentTime/${sampleTime.name}+0.5)-currentTime/${sampleTime.name})<0.000001) {
#if($proportionalGainDataType == $realDataType)
  #if($inputSignal.dataType == $realDataType)
    if(mp->majorStep>0) {
      Block${blockId}save_data[0]=${cparaP.name}*${inputSignal.name};
      Block${blockId}save_data[1]=${cparaD.name}*${inputSignal.name};
      Block${blockId}save_data[2]=${cparaI.name}*${inputSignal.name};
      Block${blockId}save_data[3]=(Block${blockId}save_data[1]-${stateFilter.name})*${cparaN.name};
      Block${blockId}save_data[4]=Block${blockId}save_data[0]+${stateIntegral.name}+Block${blockId}save_data[3];
      #if($externalReset == "on")
        if(${externalResetSignal.name}){
          memset(Block${blockId}save_data, 0, sizeof(Block${blockId}save_data));
        }
      #end
      #if($limitOutput == "on")
        if(Block${blockId}save_data[4]>${upperSaturationLimit.name}){
          ${outputPortVariable}=${upperSaturationLimit.name};}
        else if(Block${blockId}save_data[4]<${lowerSaturationLimit.name}){
          ${outputPortVariable}=${lowerSaturationLimit.name};}
        else{
          ${outputPortVariable}=Block${blockId}save_data[4];}
      #else
        ${outputPortVariable}=Block${blockId}save_data[4];
      #end
    }
  #elseif($inputSignal.dataType == $matrixDataType)
    #set($inputSignalHeightMax = $inputSignal.height - 1)
    #set($inputSignalWidthMax = $inputSignal.width - 1)
    #foreach($i in [0..$inputSignalHeightMax])
      #foreach($j in [0..$inputSignalWidthMax])
        if(mp->majorStep>0) {
          Block${blockId}save_data[${i}][${j}*5]=${cparaP.name}*${inputSignal.name}($i,$j);
          Block${blockId}save_data[${i}][${j}*5+1]=${cparaD.name}*${inputSignal.name}($i,$j);
          Block${blockId}save_data[${i}][${j}*5+2]=${cparaI.name}*${inputSignal.name}($i,$j);
        }
        Block${blockId}save_data[${i}][${j}*5+3]=(Block${blockId}save_data[${i}][${j}*5+1]-${stateFilter.name}($i,$j))*${cparaN.name};
        Block${blockId}save_data[${i}][${j}*5+4]=Block${blockId}save_data[${i}][${j}*5]+${stateIntegral.name}($i,$j)+Block${blockId}save_data[${i}][${j}*5+3];
        #if($externalReset == "on")
          if(${externalResetSignal.name}){
            memset(Block${blockId}save_data, 0, sizeof(Block${blockId}save_data));
          }
        #end
        #if($limitOutput == "on")
          if(Block${blockId}save_data[${i}][${j}*5+4]>${upperSaturationLimit.name}){
            ${outputPortVariable}($i,$j)=${upperSaturationLimit.name};}
          else if(Block${blockId}save_data[${i}][${j}*5+4]<${lowerSaturationLimit.name}){
            ${outputPortVariable}($i,$j)=${lowerSaturationLimit.name};}
          else{
            ${outputPortVariable}($i,$j)=Block${blockId}save_data[${i}][${j}*5+4];}
        #else
          ${outputPortVariable}($i,$j)=Block${blockId}save_data[${i}][${j}*5+4];
        #end
      #end
    #end
  #end
#elseif($proportionalGainDataType == $matrixDataType)
  #if($inputSignal.dataType == $realDataType)
    #set($cparaPHeightMax = $proportionalGainHeight - 1)
    #set($cparaPWidthMax = $proportionalGainWidth - 1)
    #foreach($i in [0..$cparaPHeightMax])
      #foreach($j in [0..$cparaPWidthMax])
        if(mp->majorStep>0) {
          Block${blockId}save_data[${i}][${j}*5]=${cparaP.name}($i,$j)*${inputSignal.name};
          Block${blockId}save_data[${i}][${j}*5+1]=${cparaD.name}($i,$j)*${inputSignal.name};
          Block${blockId}save_data[${i}][${j}*5+2]=${cparaI.name}($i,$j)*${inputSignal.name};
          Block${blockId}save_data[${i}][${j}*5+3]=(Block${blockId}save_data[${i}][${j}*5+1]-${stateFilter.name}($i,$j))*${cparaN.name}($i,$j);
          Block${blockId}save_data[${i}][${j}*5+4]=Block${blockId}save_data[${i}][${j}*5]+${stateIntegral.name}($i,$j)+Block${blockId}save_data[${i}][${j}*5+3];
          #if($externalReset == "on")
            if(${externalResetSignal.name}){
              memset(Block${blockId}save_data, 0, sizeof(Block${blockId}save_data));
            }
          #end
          #if($limitOutput == "on")
            if(Block${blockId}save_data[${i}][${j}*5+4]>${upperSaturationLimit.name}($i,$j)){
              ${outputPortVariable}($i,$j)=${upperSaturationLimit.name}($i,$j);}
            else if(Block${blockId}save_data[${i}][${j}*5+4]<${lowerSaturationLimit.name}($i,$j)){
              ${outputPortVariable}($i,$j)=${lowerSaturationLimit.name}($i,$j);}
            else{
              ${outputPortVariable}($i,$j)=Block${blockId}save_data[${i}][${j}*5+4];}
          #else
            ${outputPortVariable}($i,$j)=Block${blockId}save_data[${i}][${j}*5+4];
          #end
        }
      #end
    #end
  #elseif($inputSignal.dataType == $matrixDataType)
    #set($cparaPHeightMax = $proportionalGainHeight - 1)
    #set($cparaPWidthMax = $proportionalGainWidth - 1)
    #foreach($i in [0..$cparaPHeightMax])
      #foreach($j in [0..$cparaPWidthMax])
        if(mp->majorStep>0) {
          Block${blockId}save_data[${i}][${j}*5]=${cparaP.name}($i,$j)*${inputSignal.name}($i,$j);
          Block${blockId}save_data[${i}][${j}*5+1]=${cparaD.name}($i,$j)*${inputSignal.name}($i,$j);
          Block${blockId}save_data[${i}][${j}*5+2]=${cparaI.name}($i,$j)*${inputSignal.name}($i,$j);
          Block${blockId}save_data[${i}][${j}*5+3]=(Block${blockId}save_data[${i}][${j}*5+1]-${stateFilter.name}($i,$j))*${cparaN.name}($i,$j);
          Block${blockId}save_data[${i}][${j}*5+4]=Block${blockId}save_data[${i}][${j}*5]+${stateIntegral.name}($i,$j)+Block${blockId}save_data[${i}][${j}*5+3];
          #if($externalReset == "on")
            if(${externalResetSignal.name}){
              memset(Block${blockId}save_data, 0, sizeof(Block${blockId}save_data));
            }
          #end
          #if($limitOutput == "on")
            if(Block${blockId}save_data[${i}][${j}*5+4]>${upperSaturationLimit.name}($i,$j)){
              ${outputPortVariable}($i,$j)=${upperSaturationLimit.name}($i,$j);}
            else if(Block${blockId}save_data[${i}][${j}*5+4]<${lowerSaturationLimit.name}($i,$j)){
              ${outputPortVariable}($i,$j)=${lowerSaturationLimit.name}($i,$j);}
            else{
              ${outputPortVariable}($i,$j)=Block${blockId}save_data[${i}][${j}*5+4];}
          #else
            ${outputPortVariable}($i,$j)=Block${blockId}save_data[${i}][${j}*5+4];
          #end
        }
      #end
    #end
  #end
#end
}}