/*Code for Update of :(${blockId})${blockName}*/
{real_T currentTime = model.time;
if(fabs(floor(currentTime/${sampleTime.name}+0.5)-currentTime/${sampleTime.name})<0.000001) {
#if($inputSignal.dataType == $realDataType && $proportionalGainDataType == $realDataType)
  if(${sampleTime.name}==-1){
    ${stateIntegral.name}=${stateIntegral.name}+$integralStateDerivativeName*model.stepSize;
    ${stateFilter.name}=${stateFilter.name}+$filterStateDerivativeName*model.stepSize;
  }else{
    ${stateIntegral.name}=${stateIntegral.name}+$integralStateDerivativeName*${sampleTime.name};
    ${stateFilter.name}=${stateFilter.name}+$filterStateDerivativeName*${sampleTime.name};
  }
#else
  #set($stateFilterHeightMax = $stateFilter.height - 1)
  #set($stateFilterWidthMax = $stateFilter.width - 1)
  #foreach($i in [0..$stateFilterHeightMax])
    #foreach($j in [0..$stateFilterWidthMax])
      if(${sampleTime.name}==-1){
        ${stateIntegral.name}($i,$j)=${stateIntegral.name}($i,$j)+$integralStateDerivativeName($i,$j)*model.stepSize;
        ${stateFilter.name}($i,$j)=${stateFilter.name}($i,$j)+$filterStateDerivativeName($i,$j)*model.stepSize;
      }else{
        ${stateIntegral.name}($i,$j)=${stateIntegral.name}($i,$j)+$integralStateDerivativeName($i,$j)*${sampleTime.name};
        ${stateFilter.name}($i,$j)=${stateFilter.name}($i,$j)+$filterStateDerivativeName($i,$j)*${sampleTime.name};
      }
    #end
  #end
#end
}}